Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

refactor(android): guard selection color setters against no-op writes (#268)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
Due: ktlint

docs: add selectionColor + selectionHandleColor to API reference
  docs/API_REFERENCE.md
  docs/MACOS.md
  docs/WEB.md
Due: none

docs: add selectionColor + selectionHandleColor to API reference (#269)
  docs/API_REFERENCE.md
  docs/MACOS.md
  docs/WEB.md
Due: none

feat(ios): improve GFM streaming for tables and math
  apps/example/src/App.tsx
  apps/example/src/StreamingMarkdownSimulator.tsx
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.h
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.h
  ios/internals/EnrichedMarkdownTextShadowNode.mm
  ios/internals/ShadowMeasurementUtils.h
  ios/utils/RenderedMarkdownSegment.h
  ios/utils/RenderedMarkdownSegment.m
  ios/utils/SegmentReconciler.h
  ios/utils/SegmentReconciler.m
  ios/utils/SegmentRenderer.h
  ios/utils/SegmentRenderer.m
  ios/utils/SegmentViewRegistry.h
  ios/utils/SegmentViewRegistry.m
  ios/utils/StreamingMarkdownFilter.h
Due: lint, clang-format

feat(ios): improve GFM streaming for tables and math
  apps/example/src/StreamingMarkdownSimulator.tsx
  ios/EnrichedMarkdown.mm
Due: lint, clang-format

refactor(ios): change segment signature type from NSString to uint64_t for improved performance
  ios/EnrichedMarkdown.mm
  ios/utils/RenderedMarkdownSegment.h
  ios/utils/RenderedMarkdownSegment.m
  ios/utils/SegmentReconciler.h
  ios/utils/SegmentReconciler.m
  ios/utils/SegmentRenderer.m
Due: clang-format

refactor(ios): enhance segment view reconciliation with two-pass matching strategy
  ios/utils/SegmentReconciler.h
  ios/utils/SegmentReconciler.m
Due: clang-format

docs(ios): add comments to ShadowMeasurementUtils.h explaining measureContent behavior
  ios/internals/ShadowMeasurementUtils.h
Due: clang-format

refactor(ios): move inline functions from StreamingMarkdownFilter.h to StreamingMarkdownFilter.m
  ios/utils/StreamingMarkdownFilter.h
  ios/utils/StreamingMarkdownFilter.m
Due: clang-format

refactor(ios): consolidate measurement logic for EnrichedMarkdown components into reusable functions
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
  ios/internals/ShadowMeasurementUtils.h
Due: clang-format

refactor(ios): replace boolean flags with bitmask for segment rendering state management
  ios/EnrichedMarkdown.mm
  ios/utils/SegmentViewRegistry.h
  ios/utils/SegmentViewRegistry.m
Due: clang-format

refactor(ios): optimize segment view reconciliation by tracking remaining signatures for reuse
  ios/utils/SegmentReconciler.m
Due: clang-format

feat(android): add GFM streaming support for tables and block math
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/RenderedSegment.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/SegmentReconciler.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/SegmentSignature.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/StreamingMarkdownFilter.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
Due: clang-format, ktlint

feat(ios): add streamingConfig with progressive table mode for GFM streaming
  apps/example/src/StreamingMarkdownSimulator.tsx
  ios/EnrichedMarkdown.mm
  ios/utils/StreamingMarkdownFilter.h
  ios/utils/StreamingMarkdownFilter.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format

feat(android): implement table streaming mode for GFM support in EnrichedMarkdown
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/StreamingMarkdownFilter.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
Due: ktlint

refactor(ios): streamline line offset calculations in StreamingMarkdownFilter
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/StreamingMarkdownFilter.kt
  ios/EnrichedMarkdown.mm
  ios/utils/StreamingMarkdownFilter.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
Due: clang-format, ktlint

feat(android): add GFM streaming support for tables and block math (#271)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/RenderedSegment.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/SegmentReconciler.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/SegmentSignature.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/StreamingMarkdownFilter.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  ios/EnrichedMarkdown.mm
  ios/utils/StreamingMarkdownFilter.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
Due: clang-format, ktlint

docs: update API reference and markdown streaming documentation to include for GFM table handling
  docs/API_REFERENCE.md
  docs/MARKDOWN_STREAMING.md
  docs/WEB.md
Due: none

feat: add GFM streaming support for tables and block math (#270)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/RenderedSegment.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/SegmentReconciler.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/SegmentSignature.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/StreamingMarkdownFilter.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  apps/example/src/App.tsx
  apps/example/src/StreamingMarkdownSimulator.tsx
  docs/API_REFERENCE.md
  docs/MARKDOWN_STREAMING.md
  docs/WEB.md
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.h
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.h
  ios/internals/EnrichedMarkdownTextShadowNode.mm
  ios/internals/ShadowMeasurementUtils.h
  ios/utils/RenderedMarkdownSegment.h
  ios/utils/RenderedMarkdownSegment.m
  ios/utils/SegmentReconciler.h
  ios/utils/SegmentReconciler.m
  ios/utils/SegmentRenderer.h
  ios/utils/SegmentRenderer.m
  ios/utils/SegmentViewRegistry.h
  ios/utils/SegmentViewRegistry.m
  ios/utils/StreamingMarkdownFilter.h
  ios/utils/StreamingMarkdownFilter.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format, ktlint

feat: create test playground
  apps/example/src/App.tsx
  apps/example/src/PlaygroundScreen.tsx
Due: lint

fix(ios): prevent crash when deleting mixed selection or using IME input
  ios/input/EnrichedMarkdownTextInput.mm
Due: clang-format

fix(ios): prevent crash when deleting mixed selection or using IME input (#277)
  ios/input/EnrichedMarkdownTextInput.mm
Due: clang-format

fix(ios): use controlled path for Cut to prevent formatting corruption
  ios/input/ENRMInputTextView.mm
  ios/input/EnrichedMarkdownTextInput.h
  ios/input/EnrichedMarkdownTextInput.mm
Due: clang-format

fix(ios): use controlled path for Cut to prevent formatting corruption (#278)
  ios/input/ENRMInputTextView.mm
  ios/input/EnrichedMarkdownTextInput.h
  ios/input/EnrichedMarkdownTextInput.mm
Due: clang-format

feat: introduced react navigation to example app
  apps/example/ios/Podfile.lock
  apps/example/package.json
  apps/example/src/App.tsx
  apps/example/src/screens/HomeScreen.tsx
  apps/example/src/screens/InputScreen.tsx
  apps/example/src/screens/PlaygroundScreen.tsx
  apps/example/src/screens/StreamingMarkdownSimulator.tsx
  apps/example/src/screens/TextScreen.tsx
  yarn.lock
Due: lint

fix(ios): spoiler not rendering after keystroke
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

fix(ios): spoiler not rendering after keystroke (#280)
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

fix(android): use ceil for split-segment width to match commonmark path and rendered TextView
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

feat: proper typing in navigation + updated tsconfig for lsp
  apps/example/src/App.tsx
  apps/example/src/navigation/Stack.tsx
  apps/example/src/navigation/types.ts
  apps/example/src/screens/HomeScreen.tsx
  apps/example/tsconfig.json
  tsconfig.json
Due: lint, types

refactor: separated pages content + created home button commponent
  apps/example/src/App.tsx
  apps/example/src/screens/HomeScreen.tsx
  apps/example/src/screens/common/LinkModal.tsx
  apps/example/src/screens/home/HomeScreen.tsx
  apps/example/src/screens/home/HomeScreenButton.tsx
  apps/example/src/screens/input/InputScreen.tsx
  apps/example/src/screens/playground/PlaygroundScreen.tsx
  apps/example/src/screens/streaming/StreamingMarkdownSimulator.tsx
  apps/example/src/screens/text/TextScreen.tsx
Due: lint

refactor: remove icon override
  apps/example/src/components/FormattingToolbar.tsx
Due: lint

fix(ios): break retain cycle between renderers and RendererFactory (#284)
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/CodeRenderer.m
  ios/renderer/ENRMImageRenderer.m
  ios/renderer/ENRMMathInlineRenderer.m
  ios/renderer/ENRMSpoilerRenderer.m
  ios/renderer/EmphasisRenderer.m
  ios/renderer/HeadingRenderer.m
  ios/renderer/LinkRenderer.m
  ios/renderer/ListItemRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/renderer/StrikethroughRenderer.m
  ios/renderer/StrongRenderer.m
  ios/renderer/UnderlineRenderer.m
Due: clang-format

feat: maestro boilerplate - ios working
  .maestro/enrichedMarkdownText/flows/header_test.yaml
  .maestro/enrichedMarkdownText/screenshots/ios/header_display.png
  .maestro/enrichedMarkdownText/subflows/capture_or_assert_screenshot.yaml
  .maestro/enrichedMarkdownText/subflows/set_enriched_text_value.yaml
  .maestro/scripts/run-all-tests.sh
  .maestro/scripts/run-tests.sh
  .maestro/scripts/setup-android-emulator.sh
  .maestro/scripts/setup-ios-simulator.sh
  .maestro/subflows/capture_or_assert_screenshot.yaml
  .maestro/subflows/move_to_playground.yaml
  .tool-versions
Due: none

test: example test and insert multiple lines for android
  .maestro/enrichedMarkdownText/screenshots/android/header_display.png
  .maestro/enrichedMarkdownText/subflows/set_enriched_text_value.yaml
  .maestro/scripts/next_line.js
  .maestro/scripts/run-tests.sh
  .maestro/scripts/setup-android-emulator.sh
  .maestro/scripts/split_lines.js
Due: lint, types

chore: setup boilerplate for maestro tests (#288)
  .github/PULL_REQUEST_TEMPLATE.md
  .maestro/enrichedMarkdownText/flows/header_test.yaml
  .maestro/enrichedMarkdownText/screenshots/android/header_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/header_display.png
  .maestro/enrichedMarkdownText/subflows/capture_or_assert_screenshot.yaml
  .maestro/enrichedMarkdownText/subflows/set_enriched_text_value.yaml
  .maestro/scripts/next_line.js
  .maestro/scripts/run-all-tests.sh
  .maestro/scripts/run-tests.sh
  .maestro/scripts/setup-android-emulator.sh
  .maestro/scripts/setup-ios-simulator.sh
  .maestro/scripts/split_lines.js
  .maestro/subflows/capture_or_assert_screenshot.yaml
  .maestro/subflows/move_to_playground.yaml
  .tool-versions
  CONTRIBUTING.md
  package.json
Due: lint, types

chore: boilerplate
  .maestro/enrichedMarkdownText/flows/blockquote_test.yaml
  .maestro/enrichedMarkdownText/flows/code_block_test.yaml
  .maestro/enrichedMarkdownText/flows/image_test.yaml
  .maestro/enrichedMarkdownText/flows/inline_image_test.yaml
  .maestro/enrichedMarkdownText/flows/math_display_test.yaml
  .maestro/enrichedMarkdownText/flows/nested_list_test.yaml
  .maestro/enrichedMarkdownText/flows/ordered_list_test.yaml
  .maestro/enrichedMarkdownText/flows/paragraph_test.yaml
  .maestro/enrichedMarkdownText/flows/table_test.yaml
  .maestro/enrichedMarkdownText/flows/task_list_test.yaml
  .maestro/enrichedMarkdownText/flows/thematic_break_test.yaml
  .maestro/enrichedMarkdownText/flows/unordered_list_test.yaml
  .maestro/enrichedMarkdownText/subflows/capture_or_assert_screenshot.yaml
  .maestro/enrichedMarkdownText/subflows/set_enriched_text_value.yaml
  .maestro/subflows/capture_or_assert_screenshot.yaml
  .maestro/subflows/move_to_playground.yaml
Due: none

feat: enhance markdown support with superscript and subscript examples
  apps/example/ios/Podfile.lock
  apps/example/src/sampleMarkdown.ts
  apps/example/src/screens/text/TextScreen.tsx
  apps/macos-example/src/App.tsx
  apps/macos-example/src/sampleMarkdown.ts
  cpp/md4c/md4c.c
  cpp/md4c/md4c.h
  cpp/parser/MD4CParser.cpp
  ios/input/ENRMInputParser.mm
  scripts/fetch-md4c.sh
Due: lint, types, clang-format

fix(ios): pin measured width to maxWidth for multiline content to prevent flexShrink clipping
  ios/utils/ENRMTextViewSetup.h
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
