Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
    clang-format:
      glob: '*.{h,m,mm,cpp}'
      exclude: '(Pods|build|node_modules)'
      run: npx clang-format -i {staged_files} && git add {staged_files}
    ktlint:
      glob: '*.kt'
      exclude: '(build|generated|node_modules)'
      run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: optimize StaticLayout creation and measurement logic in MeasurementStore
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

refactor: enhance trailing spacing removal logic and optimize margin calculations
  ios/renderer/AttributedRenderer.m
Due: clang-format

refactor: simplify size measurement logic and enhance content range identification
  ios/EnrichedMarkdownText.mm
Due: clang-format

refactor: remove redundant comment in CodeBlockBackground drawing logic
  ios/utils/CodeBlockBackground.m
Due: clang-format

refactor: remove redundant comments in markdown rendering methods
  ios/EnrichedMarkdownText.mm
Due: clang-format

refactor: streamline margin handling in markdown renderers and remove normalization function
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginBottomSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  src/normalizeMarkdownStyle.ts
Due: lint, types, ktlint

refactor: improve text measurement logic by utilizing UITextView's layout manager
  ios/EnrichedMarkdownText.mm
Due: clang-format

docs: update README to include allowTrailingMargin prop details
  README.md
Due: none

feat: add allowTrailingMargin prop (#73)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginBottomSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  ios/EnrichedMarkdownText.mm
  ios/renderer/AttributedRenderer.h
  ios/renderer/AttributedRenderer.m
  ios/utils/CodeBlockBackground.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

refactor: unify margin handling across Markdown renderers
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginTopSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
Due: ktlint

refactor: unify margin handling across Markdown renderers (#74)
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginTopSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
Due: ktlint

feat: add long press support for links in EnrichedMarkdownText
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/events/LinkLongPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/DocumentRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/EmphasisRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ImageRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/LineBreakRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/LinkRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListItemRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/StrikethroughRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/StrongRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/TextRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ThematicBreakRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/UnderlineRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/LinkSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/LinkLongPressMovementMethod.kt
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
Due: lint, types, clang-format, ktlint

refactor: improve long press handling for links in LinkLongPressMovementMethod
  android/src/main/java/com/swmansion/enriched/markdown/utils/LinkLongPressMovementMethod.kt
Due: ktlint

refactor: clarify comments and streamline long press handling in LinkSpan and EnrichedMarkdownText
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/LinkSpan.kt
Due: ktlint

refactor: enhance long press interaction handling for links in EnrichedMarkdownText
  ios/EnrichedMarkdownText.mm
Due: clang-format

refactor: rename hasOnLinkLongPress to enableLinkPreview for clarity
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

docs: update README to include onLinkLongPress and enableLinkPreview props for EnrichedMarkdownText
  README.md
Due: none

chore: update image link in README.md
  README.md
Due: none

fix: RTL support for ordered/unordered lists and blockquote
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/UnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  ios/utils/BlockquoteBorder.m
  ios/utils/HTMLGenerator.m
  ios/utils/ListMarkerDrawer.m
Due: clang-format, ktlint

doc: rtl supported
  README.md
Due: none

docs: update README to include support for React Native release 0.84
  README.md
Due: none

docs: update README to include support for React Native release 0.84 (#78)
  README.md
Due: none

chore: release 0.2.0
  example/ios/Podfile.lock
  package.json
Due: none

feat: add support for table node types in Markdown parser
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  cpp/parser/MD4CParser.cpp
  cpp/parser/MarkdownASTNode.hpp
  ios/parser/MarkdownASTNode.h
  ios/parser/MarkdownParserBridge.mm
Due: clang-format, ktlint

feat(ios): implement EnrichedMarkdown component with table support and enhanced styling
  example/src/markdownStyles.ts
  ios/EnrichedMarkdown.h
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownComponentDescriptor.h
  ios/internals/EnrichedMarkdownShadowNode.h
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownState.h
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/FontScaleObserver.h
  ios/utils/FontScaleObserver.m
  ios/utils/LinkTapUtils.h
  ios/utils/LinkTapUtils.m
  ios/utils/MarkdownASTSerializer.h
  ios/utils/MarkdownASTSerializer.m
  ios/utils/MarkdownAccessibilityElementBuilder.h
  ios/utils/MarkdownAccessibilityElementBuilder.m
  ios/utils/StylePropsUtils.h
  ios/views/EnrichedMarkdownInternalText.h
  ios/views/EnrichedMarkdownInternalText.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
  package.json
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format

feat(android): introduce EnrichedMarkdown component with enhanced table support and styling
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextPackage.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/ImageSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/TableStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/ContextMenuPopup.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/MarkdownASTSerializer.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/MarkdownTextViewUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  android/src/main/jni/EnrichedMarkdownTextSpec.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/ComponentDescriptors.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownContainerComponentDescriptor.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownContainerMeasurementManager.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownContainerMeasurementManager.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownContainerShadowNode.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownContainerShadowNode.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  example/src/markdownStyles.ts
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  ios/views/TableContainerView.m
  react-native.config.js
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

chore: fixes
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/BlockSegmentView.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/ComponentDescriptors.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownContainerShadowNode.h
  cpp/parser/MarkdownASTNode.hpp
  ios/EnrichedMarkdown.mm
  ios/internals/EnrichedMarkdownShadowNode.h
  ios/internals/EnrichedMarkdownState.h
  ios/parser/MarkdownASTNode.h
  ios/utils/MarkdownASTSerializer.m
  ios/views/EnrichedMarkdownInternalText.h
  ios/views/EnrichedMarkdownInternalText.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
  src/EnrichedMarkdownText.tsx
Due: lint, clang-format, ktlint

docs: add Future Plans section to README with upcoming features
  README.md
Due: none

docs: add Future Plans section to README with upcoming features (#84)
  README.md
Due: none

docs: update README and EnrichedMarkdownText to reflect change from 'gfm' to 'github'
  README.md
  src/EnrichedMarkdownText.tsx
Due: lint

fix: add ProGuard consumer rules for React Native enriched markdown
  android/build.gradle
  android/consumer-rules.pro
  android/src/main/baseline-prof.txt
Due: none

refactor: simplify ProGuard consumer rules for React Native enriched markdown
  android/consumer-rules.pro
Due: none

chore: release 0.2.1
  example/ios/Podfile.lock
  package.json
Due: none

chore: release 0.2.1 (#86)
  example/ios/Podfile.lock
  package.json
Due: none

feat: implement HTML table generation for enriched markdown
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  ios/utils/HTMLGenerator.h
  ios/utils/HTMLGenerator.m
  ios/views/TableContainerView.m
Due: clang-format, ktlint

refactor: clean comments
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/BlockSegmentView.kt
Due: ktlint

feat: enhance layout handling for block segments with margin support
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/BlockSegmentView.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  ios/EnrichedMarkdown.mm
Due: clang-format, ktlint

fix: adjust margin settings in markdown styles for consistency
  example/src/markdownStyles.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types

feat: add autolinks support in Markdown parser
  cpp/parser/MD4CParser.cpp
Due: clang-format

fix(ios): avoid Objective-C MarkdownParser symbol collision (#88)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/parser/EMMarkdownParser.h
  ios/parser/EMMarkdownParser.mm
  ios/parser/MarkdownParser.mm
  ios/parser/MarkdownParserBridge.mm
Due: clang-format
