Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
    clang-format:
      glob: '*.{h,m,mm,cpp}'
      exclude: '(Pods|build|node_modules)'
      run: npx clang-format -i {staged_files} && git add {staged_files}
    ktlint:
      glob: '*.kt'
      exclude: '(build|generated|node_modules)'
      run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: add RNRepo to CI builds
  apps/example/android/app/build.gradle
  apps/example/android/build.gradle
  apps/example/ios/Podfile
  apps/example/package.json
  yarn.lock
Due: none

feat: implement superscript and subscript rendering with configurable styles
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BaselineShiftRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SubscriptRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SuperscriptRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/SubscriptStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/SuperscriptStyle.kt
  docs/API_REFERENCE.md
  docs/STYLES.md
  ios/renderer/SubscriptRenderer.m
  ios/renderer/SuperscriptRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types, clang-format, ktlint

docs: update ELEMENTS_STRUCTURE.md
  docs/ELEMENTS_STRUCTURE.md
Due: none

feat: add md4cFlags for superscript and subscript support in App component
  apps/web-example/src/App.tsx
  src/web/wasm/md4c.js
Due: lint, types

refactor: change rendererFactory to weak reference in SubscriptRenderer and SuperscriptRenderer
  ios/renderer/SubscriptRenderer.m
  ios/renderer/SuperscriptRenderer.m
Due: clang-format

fix(android): prevent duplicate-URL images from sharing a single ImageSpan
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ImageRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
Due: ktlint

test: block element tests finished
  .maestro/enrichedMarkdownText/flows/blockquote_test.yaml
  .maestro/enrichedMarkdownText/flows/code_block_test.yaml
  .maestro/enrichedMarkdownText/flows/image_test.yaml
  .maestro/enrichedMarkdownText/flows/inline_image_test.yaml
  .maestro/enrichedMarkdownText/flows/math_display_test.yaml
  .maestro/enrichedMarkdownText/flows/nested_list_test.yaml
  .maestro/enrichedMarkdownText/flows/ordered_list_test.yaml
  .maestro/enrichedMarkdownText/flows/paragraph_test.yaml
  .maestro/enrichedMarkdownText/flows/table_test.yaml
  .maestro/enrichedMarkdownText/flows/task_list_test.yaml
  .maestro/enrichedMarkdownText/flows/thematic_break_test.yaml
  .maestro/enrichedMarkdownText/flows/unordered_list_test.yaml
  .maestro/enrichedMarkdownText/screenshots/android/blockquote_display.png
  .maestro/enrichedMarkdownText/screenshots/android/code_block_display.png
  .maestro/enrichedMarkdownText/screenshots/android/image_display.png
  .maestro/enrichedMarkdownText/screenshots/android/inline_image_display.png
  .maestro/enrichedMarkdownText/screenshots/android/math_display_display.png
  .maestro/enrichedMarkdownText/screenshots/android/nested_list_display.png
  .maestro/enrichedMarkdownText/screenshots/android/ordered_list_display.png
  .maestro/enrichedMarkdownText/screenshots/android/paragraph_display.png
  .maestro/enrichedMarkdownText/screenshots/android/table_display.png
  .maestro/enrichedMarkdownText/screenshots/android/task_list_display.png
  .maestro/enrichedMarkdownText/screenshots/android/thematic_break_display.png
  .maestro/enrichedMarkdownText/screenshots/android/unordered_list_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/blockquote_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/code_block_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/image_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/inline_image_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/math_display_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/nested_list_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/ordered_list_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/paragraph_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/table_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/task_list_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/thematic_break_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/unordered_list_display.png
Due: none

fix(android): correct baseline offset calculations for subscript and superscript rendering
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SubscriptRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SuperscriptRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BaselineShiftSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
Due: ktlint

docs: add missing yarn prepare
  CONTRIBUTING.md
Due: none

docs: add missing yarn prepare (#301)
  CONTRIBUTING.md
Due: none

chore: ignore react-native-enriched-markdown in RNRepo
  apps/example/rnrepo.config.json
Due: none

fix(ios): assert on regex compilation failure in ENRMAutoLinkDetector
  ios/input/ENRMAutoLinkDetector.mm
Due: clang-format

refactor(ios): introduce BaseRenderer base class to eliminate duplicated ivar blocks and init
  ios/renderer/BaseRenderer.h
  ios/renderer/BaseRenderer.m
  ios/renderer/BlockquoteRenderer.h
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.h
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/CodeRenderer.h
  ios/renderer/CodeRenderer.m
  ios/renderer/ENRMImageRenderer.h
  ios/renderer/ENRMImageRenderer.m
  ios/renderer/ENRMMathInlineRenderer.h
  ios/renderer/ENRMMathInlineRenderer.m
  ios/renderer/ENRMSpoilerRenderer.h
  ios/renderer/ENRMSpoilerRenderer.m
  ios/renderer/EmphasisRenderer.h
  ios/renderer/EmphasisRenderer.m
  ios/renderer/HeadingRenderer.h
  ios/renderer/HeadingRenderer.m
  ios/renderer/LinkRenderer.h
  ios/renderer/LinkRenderer.m
  ios/renderer/ListItemRenderer.h
  ios/renderer/ListItemRenderer.m
  ios/renderer/ParagraphRenderer.h
  ios/renderer/ParagraphRenderer.m
  ios/renderer/StrikethroughRenderer.h
  ios/renderer/StrikethroughRenderer.m
  ios/renderer/StrongRenderer.h
  ios/renderer/StrongRenderer.m
  ios/renderer/SubscriptRenderer.h
  ios/renderer/SubscriptRenderer.m
  ios/renderer/SuperscriptRenderer.h
  ios/renderer/SuperscriptRenderer.m
  ios/renderer/ThematicBreakRenderer.h
  ios/renderer/ThematicBreakRenderer.m
  ios/renderer/UnderlineRenderer.h
  ios/renderer/UnderlineRenderer.m
Due: clang-format

fix: removed unnecessary screen
  .maestro/enrichedMarkdownText/screenshots/ios/link_display_diff.png
Due: none

refactor: extract async render queue and stale-result cancellation into ENRMAsyncRenderCoordinator
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMAsyncRenderCoordinator.h
  ios/utils/ENRMAsyncRenderCoordinator.m
Due: clang-format

refactor: extract async render queue and stale-result cancellation into ENRMAsyncRenderCoordinator (#308)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMAsyncRenderCoordinator.h
  ios/utils/ENRMAsyncRenderCoordinator.m
Due: clang-format

test: introduced configs
  .maestro/config-advanced.yaml
  .maestro/config-smoke.yaml
  .maestro/config.yaml
  .maestro/enrichedMarkdownText/flows/basic/inline_elements/inline_math_test.yaml
  .maestro/scripts/run-tests.sh
Due: none

docs: added docs for configs
  CONTRIBUTING.md
  package.json
Due: none

fix: add test ids to linkmodal
  apps/example/src/components/LinkModal.tsx
Due: lint

test: introduce image combos
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/blockquote_image_combo_test.yaml
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/code_block_image_combo_test.yaml
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/header_image_combo_test.yaml
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/list_image_combo_test.yaml
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/paragraph_image_combo_test.yaml
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/table_image_combo_test.yaml
  .maestro/enrichedMarkdownText/flows/advanced/block_elements/thematic_break_image_combo_test.yaml
  .maestro/enrichedMarkdownText/screenshots/android/blockquote_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/android/code_block_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/android/header_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/android/list_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/android/paragraph_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/android/table_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/android/thematic_break_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/blockquote_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/code_block_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/header_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/list_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/paragraph_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/table_image_combo_display.png
  .maestro/enrichedMarkdownText/screenshots/ios/thematic_break_image_combo_display.png
  apps/example/src/screens/playground/PlaygroundScreen.tsx
Due: lint

chore: bump react-native to 0.85.3 in example app and update pods
  apps/example/Gemfile
  apps/example/android/gradle/wrapper/gradle-wrapper.jar
  apps/example/android/gradle/wrapper/gradle-wrapper.properties
  apps/example/android/gradlew
  apps/example/android/gradlew.bat
  apps/example/ios/Podfile.lock
  apps/example/jest.config.js
  apps/example/package.json
  yarn.lock
Due: lint, types

chore: bump react-native to 0.85.3 in example app and update pods (#318)
  apps/example/Gemfile
  apps/example/android/gradle/wrapper/gradle-wrapper.jar
  apps/example/android/gradle/wrapper/gradle-wrapper.properties
  apps/example/android/gradlew
  apps/example/android/gradlew.bat
  apps/example/ios/Podfile.lock
  apps/example/jest.config.js
  apps/example/package.json
  yarn.lock
Due: lint, types

docs: add Compatibility Table to README for supported React Native versions
  README.md
Due: none

docs: add Compatibility Table to README for supported React Native versions (#319)
  README.md
Due: none

refactor: moved test files to less flat structure
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/bold_italic_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/bold_spoiler_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/bold_strikethrough_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/bold_toggle_off_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/bold_underline_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/italic_spoiler_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/italic_strikethrough_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/italic_toggle_off_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/italic_underline_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/spoiler_toggle_off_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/strikethrough_spoiler_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/strikethrough_toggle_off_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/underline_spoiler_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/underline_strikethrough_test.yaml
  .maestro/enrichedMarkdownInput/flows/advanced/inline_elements/underline_toggle_off_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/all_combination_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/bold_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/italic_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/link_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/spoiler_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/strikethrough_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/underline_test.yaml
Due: none

test: add auto links test
  .maestro/enrichedMarkdownInput/flows/basic/inline_elements/auto_link_test.yaml
  .maestro/enrichedMarkdownInput/screenshots/android/auto_link_input.png
  .maestro/enrichedMarkdownInput/screenshots/ios/auto_link_input.png
Due: none

docs: update contributing md
  CONTRIBUTING.md
Due: none

fix: updated configs
  apps/example/.rnstorybook/storybook.requires.ts
  apps/example/Gemfile.lock
  apps/example/ios/Podfile.lock
  apps/example/metro.config.js
  apps/example/src/App.tsx
  yarn.lock
Due: lint, types

fix(ios): reset state in prepareForRecycle
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
Due: clang-format

fix: skip streaming animations when Reduce Motion is on
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MotionPreferences.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
  ios/EnrichedMarkdown.mm
  ios/utils/ENRMTailFadeInAnimator.m
  ios/utils/ENRMUIKit.h
Due: clang-format, ktlint

refactor: address PR review comments
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
  ios/utils/ENRMTailFadeInAnimator.m
Due: clang-format, ktlint

refactor(ios): extract textSegment local in prepareForRecycle
  ios/EnrichedMarkdown.mm
Due: clang-format

fix: skip streaming animations when Reduce Motion is enabled (#325)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MotionPreferences.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
  ios/EnrichedMarkdown.mm
  ios/utils/ENRMTailFadeInAnimator.m
  ios/utils/ENRMUIKit.h
Due: clang-format, ktlint

fix(ios): discard in-flight renders on recycle
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMAsyncRenderCoordinator.h
  ios/utils/ENRMAsyncRenderCoordinator.m
Due: clang-format

fix(ios): clear spoiler overlays on recycle
  ios/EnrichedMarkdownText.mm
Due: clang-format

refactor: remove fontFamily from link variant configuration and simplify link styling
  android/src/main/java/com/swmansion/enriched/markdown/spans/LinkSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/LinkVariantEntry.kt
  ios/renderer/LinkRenderer.m
  ios/styles/StyleConfig.h
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/linkVariantUtils.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
  src/web/styles.ts
Due: lint, types, clang-format, ktlint

fix: optimize mention indicator handling and improve link span filtering logic
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownTextInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputFormatter.kt
  src/EnrichedMarkdownTextInputNativeComponent.ts
Due: lint, types, ktlint
