Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
    clang-format:
      glob: '*.{h,m,mm,cpp}'
      exclude: '(Pods|build|node_modules)'
      run: npx clang-format -i {staged_files} && git add {staged_files}
    ktlint:
      glob: '*.kt'
      exclude: '(build|generated|node_modules)'
      run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: move LaTeX math rendering details to a dedicated document and update README links
  README.md
  docs/LATEX_MATH.md
Due: none

feat(ios): enhance measurement caching by introducing MarkdownFlavor enum
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
  ios/internals/MeasurementCache.h
Due: clang-format

fix(ios): include textAlign in style fingerprint computation for headings and paragraphs
  ios/internals/MeasurementCache.h
Due: clang-format

refactor(ios): clarify comment on block elements in MeasurementCache
  ios/internals/MeasurementCache.h
Due: clang-format

fix(ios): prevent stale measurement when view content is out of sync
  ios/EnrichedMarkdown.h
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.h
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
Due: clang-format

fix(ios): prevent stale measurement when view content is out of sync (#137)
  ios/EnrichedMarkdown.h
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.h
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
Due: clang-format

feat: implement image caching on Android and iOS
  android/src/main/baseline-prof.txt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ImageRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/ImageSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/AsyncDrawable.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/ImageCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/ImageDownloader.kt
  example/src/sampleMarkdown.ts
  example/src/sampleMarkdownImageAspectRatio.ts
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/attachments/ENRMImageAttachment.h
  ios/attachments/ENRMImageAttachment.m
  ios/renderer/ENRMImageRenderer.m
  ios/utils/ENRMImageDownloader.h
  ios/utils/ENRMImageDownloader.m
Due: lint, types, clang-format, ktlint

docs: add Image Caching section to README and create dedicated documentation
  README.md
  docs/IMAGE_CACHING.md
Due: none

feat: add streaming animation support for newly appended content
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/FadeInSpan.kt
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMStreamingFadeAnimator.h
  ios/utils/ENRMStreamingFadeAnimator.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

refactor: replace ValueAnimator with TailFadeInAnimator for improved fade-in effect
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMTailFadeInAnimator.h
  ios/utils/ENRMTailFadeInAnimator.m
Due: clang-format, ktlint

refactor: enhance fade-in animation handling by consolidating animator logic
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/FadeInSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
  ios/utils/ENRMTailFadeInAnimator.m
Due: clang-format, ktlint

feat: add TODO for streaming animation support in github flavor
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
Due: ktlint

fix: add internal horizontal inset for table scroll container
  ios/views/TableContainerView.m
Due: clang-format

fix: update display link frame rate to use maximum display refresh rate
  ios/utils/ENRMTailFadeInAnimator.m
Due: clang-format

fix: prevent parent Pressable from firing onPress on link/task tap
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkEvents.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkLongPressMovementMethod.kt
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/LinkTapUtils.h
  ios/utils/LinkTapUtils.m
Due: clang-format, ktlint

fix: enhance touch event handling to prevent unintended parent press actions
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkEvents.kt
  ios/utils/LinkTapUtils.m
Due: clang-format, ktlint

fix: rename cancelJSTouch to cancelJSTouchForCheckboxTap for clarity in touch event handling
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkEvents.kt
Due: ktlint

chore: update baseline profile with new spans and utilities
  android/src/main/baseline-prof.txt
Due: none

fix: add ProGuard keep rules for AndroidMath and FreeType JNI classes
  android/consumer-rules.pro
Due: none

chore: release 0.4.0
  example/ios/Podfile.lock
  package.json
Due: none

feat: add expo config plugin
  app.plugin.js
  package.json
  src/plugin/withAndroidMath.ts
  src/plugin/withIosMath.ts
  src/plugin/withReactNativeEnrichedMarkdown.ts
  yarn.lock
Due: lint, types

docs: update LaTeX Math
  docs/LATEX_MATH.md
Due: none

fix: use default imports for config plugin tools
  src/plugin/withAndroidMath.ts
  src/plugin/withIosMath.ts
Due: lint, types

fix: swap expo for smaller config-plugins tool
  package.json
  yarn.lock
Due: none

fix: refine expo config plugin and deps
  docs/LATEX_MATH.md
  package.json
  src/plugin/withAndroidMath.ts
  src/plugin/withIosMath.ts
  yarn.lock
Due: lint, types

feat: add expo config plugin (disable LaTeX Math) (#147)
  app.plugin.js
  docs/LATEX_MATH.md
  package.json
  src/plugin/withAndroidMath.ts
  src/plugin/withIosMath.ts
  src/plugin/withReactNativeEnrichedMarkdown.ts
  yarn.lock
Due: lint, types

fix(ios): respect link.underline: false on initial mount
  ios/utils/StylePropsUtils.h
Due: clang-format

fix: unwrap consecutive 60330...60330 blocks merged into a single paragraph by md4c
  cpp/parser/MD4CParser.cpp
Due: clang-format

fixed the EnrichedMarkdownText returned an invalid measurement issue
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
Due: clang-format

chore: migrate to shared npm-package-publish action
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-release.yml
  scripts/release/get-version.js
  scripts/release/npm-utils.js
  scripts/release/parse-arguments.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/validate-latest-version.js
  scripts/release/validate-non-latest-version.js
  scripts/release/version-utils.js
Due: lint, types

fix(ios): restore view layout on remount and clamp measurement to layout constraints
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
Due: clang-format

fix(ios): restore view layout on remount and clamp measurement to layout constraints (#155)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
Due: clang-format

fix(ios): default to synchronous rendering and clamp shadow node layout constraints
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
Due: lint, types, clang-format

fix(ios): clear segment views before rendering markdown and update documentation
  ios/EnrichedMarkdown.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format

refactor(ios): remove synchronous rendering support and improve layout handling
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format

chore: update dependencies and configurations across the project
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/Parser.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/FeatureFlags.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/SpannableExtensions.kt
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/enrichedmarkdown/example/MainApplication.kt
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  example/ios/EnrichedMarkdownExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: ktlint

chore: update dependencies and configurations across the project (#158)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/Parser.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/FeatureFlags.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/SpannableExtensions.kt
  example/android/app/build.gradle
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/enrichedmarkdown/example/MainApplication.kt
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  example/ios/EnrichedMarkdownExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: ktlint

chore: migrate to yarn 4 and replace lefthook with official package
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  package.json
  turbo.json
  yarn.lock
Due: none

chore: release 0.4.1
  example/ios/Podfile.lock
  package.json
Due: none
