Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

fix(web): raise WASM stack size + enable memory growth
  cpp/wasm/build.sh
  src/web/wasm/md4c.js
Due: lint, types

refactor: change default streamingConfig.tableMode from 'hidden' to 'progressive'
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/StreamingMarkdownFilter.kt
  docs/API_REFERENCE.md
  docs/MARKDOWN_STREAMING.md
  ios/EnrichedMarkdown.mm
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format, ktlint

fix: use value animator are animators enabled for reduced motion
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MotionPreferences.kt
Due: ktlint

docs: updated comment
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MotionPreferences.kt
Due: ktlint

fix(ios): reset _props in prepareForRecycle to fix streaming animation on remount
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
Due: clang-format

fix(android): update tail fade in animation to not reset
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
Due: ktlint

docs: removed comment
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/TailFadeInAnimator.kt
Due: ktlint

refactor: remove insertMentionAppendSpace property and related logic from markdown input components
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownTextInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownTextInputView.kt
  docs/API_REFERENCE.md
  docs/MENTIONS.md
  ios/input/EnrichedMarkdownTextInput.mm
  ios/styles/StyleConfig.h
  src/EnrichedMarkdownTextInput.tsx
  src/EnrichedMarkdownTextInputNativeComponent.ts
Due: lint, types, clang-format, ktlint

fix: updated mentions in example messages
  apps/example/src/screens/input/InputScreen.tsx
  apps/example/src/screens/input/MessageBubble.tsx
Due: lint

feat(android): add table support to android-enriched-markdown
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/ExampleMarkdownStyles.kt
  packages/android-enriched-markdown/README.md
  packages/android-enriched-markdown/compose/src/main/java/com/swmansion/enriched/markdown/compose/MarkdownStyleBuilder.kt
  packages/android-enriched-markdown/compose/src/main/java/com/swmansion/enriched/markdown/compose/MarkdownStyleLayer.kt
  packages/android-enriched-markdown/compose/src/main/java/com/swmansion/enriched/markdown/compose/MarkdownStylePatches.kt
  packages/android-enriched-markdown/compose/src/main/java/com/swmansion/enriched/markdown/compose/style/StyleConfigMerger.kt
  packages/android-enriched-markdown/compose/src/test/java/com/swmansion/enriched/markdown/compose/MarkdownTableStyleTest.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/renderer/TableRenderer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TableHeaderTypefaceSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TableSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/DefaultStyles.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/TableAlignment.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/TableStyle.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/common/serialization/MarkdownASTSerializer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/HTMLGenerator.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkLongPressMovementMethod.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/TableRendererTest.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/styles/StyleConfigTest.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/test/TestAstFactory.kt
Due: ktlint

feat(android): scroll wide tables horizontally instead of shrinking them
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TableSpan.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/TableRendererTest.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/test/MarkdownRenderTestSupport.kt
Due: ktlint

fix(android): repaint scrolled tables past the Editor display-list cache
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
Due: ktlint

fix(parser): promote video images inside tight list items
  packages/core/cpp/parser/MD4CParser.cpp
Due: clang-format

fix(android): set currentUrl after releasePlayer() to preserve URL-change guard
  packages/react-native-enriched-markdown/android/src/video/java/com/swmansion/enriched/markdown/segments/VideoContainerView.kt
Due: ktlint

fix(ios): use RCTUIColor for videoBackgroundColor getter/setter
  packages/react-native-enriched-markdown/ios/styles/StyleConfig.h
  packages/react-native-enriched-markdown/ios/styles/StyleConfig.mm
Due: clang-format

feat: address code review
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownTextInputView.kt
Due: ktlint

docs: update storybook comment
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/block/CodeBlock.stories.tsx
Due: lint

fix: require ratex .stamp to be a file in podspec presence check
  packages/react-native-enriched-markdown/ReactNativeEnrichedMarkdown.podspec
Due: none

fix: harden ratex postinstall script; harden ratex handling in build phase
  packages/react-native-enriched-markdown/ReactNativeEnrichedMarkdown.podspec
  packages/react-native-enriched-markdown/postinstall.mjs
  vendor/vendor-ratex.mjs
Due: none

fix: swap ratex vendor tree via move-aside so a failed rename keeps the old tree
  .gitignore
  vendor/vendor-ratex.mjs
Due: none

fix: retry then curl-proxy fallback for ratex downloads
  vendor/vendor-ratex.mjs
Due: none

docs(android): document the superscript and subscript md4c flags
  packages/android-enriched-markdown/README.md
Due: none

feat(android): make task list checkboxes interactive
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/TextScreen.kt
  packages/android-enriched-markdown/README.md
  packages/android-enriched-markdown/compose/src/main/java/com/swmansion/enriched/markdown/compose/EnrichedMarkdownText.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/TaskListItemPressEvent.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/renderer/ListItemRenderer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/interaction/CheckboxTouchHelper.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/interaction/TaskListTapUtils.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/TaskListInteractionTest.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/test/MarkdownTextViewTestSupport.kt
Due: ktlint

chore(android-example): enable superscript and subscript in the previews
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/PlaygroundScreen.kt
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/TextScreen.kt
Due: ktlint

chore: install clang-format at the workspace root
  package.json
  yarn.lock
Due: none

fix(android): default superscript and subscript styles in StyleConfig
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/DefaultStyles.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/SubscriptStyle.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/SuperscriptStyle.kt
Due: ktlint

test(android): cover checkbox taps on API 35 and through dispatchTouchEvent
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/TaskListInteractionTest.kt
Due: ktlint

fix(android): keep the checkbox in place when toggling a nested task
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/interaction/TaskListTapUtils.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/TaskListInteractionTest.kt
Due: ktlint

fix(android): repaint the checkbox after an in-place toggle
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/interaction/TaskListTapUtils.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/TaskListInteractionTest.kt
Due: ktlint

feat(android-example): confirm link activation with a dialog
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/LinkPressDialog.kt
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/PlaygroundScreen.kt
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/TextScreen.kt
Due: ktlint

fix(android): flush a buffered heading before the block that follows it
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/MarkdownExtractorTest.kt
Due: ktlint

feat: support video via HTML <video> tag instead of URL extension detection
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/block/Video.stories.tsx
  docs/ELEMENTS_STRUCTURE.md
  docs/STYLES.md
  packages/android-enriched-markdown/parser/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  packages/core/cpp/md4c/md4c.c
  packages/core/cpp/parser/MD4CParser.cpp
  packages/react-native-enriched-markdown/README.md
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/utils/common/serialization/MarkdownASTSerializer.kt
  packages/react-native-enriched-markdown/ios/utils/MarkdownASTSerializer.m
Due: lint, clang-format, ktlint

fix: typo in VIDEO_KIND_SALT comment
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/segments/SegmentSignature.kt
Due: ktlint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
