Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

fix: clear stacked delimiters inside link text when encountering ](
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputRemend.kt
  ios/input/ENRMInputRemend.mm
Due: clang-format, ktlint

fix(ios): clamp formatting range offsets to text length in ENRMMarkdownSerializer
  ios/input/ENRMMarkdownSerializer.mm
Due: clang-format

fix(ios): update _lastSelectedRange in importMarkdown to prevent formatting corruption on first edit
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

refactor: update package.json structure and enhance web support
  apps/web-example/metro.config.js
  package.json
  src/index.web.tsx
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
  src/web/katex.ts
Due: lint, types

chore: update katex dependency to version 0.16.45 in package.json and yarn.lock
  package.json
  yarn.lock
Due: none

refactor: clean up sampleMarkdown export and improve error handling in parser initialization
  apps/web-example/src/sampleMarkdown.ts
  cpp/wasm/ASTSerializer.hpp
  src/web/EnrichedMarkdownText.tsx
  src/web/parseMarkdown.ts
  src/web/renderers/ListRenderers.tsx
  src/web/renderers/TableRenderers.tsx
Due: lint, types

refactor: simplify state management in EnrichedMarkdownText component and improve cancellation logic in useEffect
  src/web/EnrichedMarkdownText.tsx
Due: lint

fix: solve build issues after merge
  README.md
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types

feat: add spoiler functionality to markdown input
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnChangeStateEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputFormatter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputRemend.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/MarkdownSerializer.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/model/InputFormatterStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/model/StyleType.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/SpoilerStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/InputContextMenu.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/input/MarkdownStyleParser.kt
  apps/example/src/InputScreen.tsx
  ios/input/ENRMInputFormatter.h
  ios/input/ENRMInputFormatter.mm
  ios/input/ENRMInputParser.mm
  ios/input/ENRMInputRemend.mm
  ios/input/ENRMInputStyledRange.h
  ios/input/ENRMMarkdownSerializer.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  ios/input/InputStylePropsUtils.h
  ios/input/styles/ENRMSpoilerStyleHandler.h
  ios/input/styles/ENRMSpoilerStyleHandler.mm
  ios/renderer/ListItemRenderer.m
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/normalizeMarkdownInputStyle.ts
Due: lint, types, clang-format, ktlint

docs: update solid preset properties in STYLES.md to include borderRadius
  docs/STYLES.md
Due: none

fix(android): move ktlint plugin out of shipped build.gradle
  android/build.gradle
  apps/example/android/build.gradle
Due: none

feat: add ordered and unordered lists to the input
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
Due: lint, types, clang-format, ktlint

feat: add automatic list continuation and toggle buttons
  apps/example/src/InputScreen.tsx
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
Due: lint, types

feat: use native code to handle lists line returns
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnChangeStateEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  apps/example/src/InputScreen.tsx
  ios/input/EnrichedMarkdownInput.mm
  src/EnrichedMarkdownInput.tsx
Due: lint, clang-format, ktlint

feat: add documentation for lists in input
  docs/INPUT.md
Due: none

refactor: remove outdated comments from spoiler-related classes for clarity
  android/src/main/java/com/swmansion/enriched/markdown/spans/SpoilerSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/ParticleStrategy.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SolidStrategy.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerAnimator.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerDrawContext.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerOverlayDrawer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerParticleDrawable.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerStrategy.kt
  ios/utils/ENRMParticleOverlayView.m
  ios/utils/ENRMSpoilerOverlayView.h
  ios/utils/ENRMSpoilerTapUtils.h
  ios/utils/ENRMSpoilerTapUtils.m
Due: clang-format, ktlint

refactor: improve variable naming for clarity in LinkLongPressMovementMethod
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkLongPressMovementMethod.kt
Due: ktlint

feat: implement SpoilerCapable interface and enhance spoiler functionality in markdown components
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/ParticleStrategy.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SegmentKey.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SolidStrategy.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerCapable.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerConstants.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerDrawUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerOverlayDrawer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerParticleDrawable.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerStrategy.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkLongPressMovementMethod.kt
  ios/EnrichedMarkdown.mm
  ios/utils/ENRMSpoilerCapable.h
  ios/views/EnrichedMarkdownInternalText.h
Due: clang-format, ktlint

refactor(android): unify duplicated AST segment splitting into shared utility
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MarkdownSegment.kt
Due: ktlint

refactor(ios): extract shared text view setup, layout manager, and measurement helpers
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMTextViewSetup.h
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor(ios): extract shared text view setup, layout manager, and measurement helpers (#229)
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMTextViewSetup.h
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor(ios): extract shared text renderer
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMTextRenderer.h
  ios/utils/ENRMTextRenderer.m
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor(ios): extract shared text renderer (#230)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMTextRenderer.h
  ios/utils/ENRMTextRenderer.m
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor: extract shared view manager helpers into MarkdownViewManagerUtils
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MarkdownViewManagerUtils.kt
Due: ktlint

refactor: extract shared view manager helpers into MarkdownViewManagerUtils (#231)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MarkdownViewManagerUtils.kt
Due: ktlint

feat: add getCaretRect command and onCaretRectChange event
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnCaretRectChangeEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnRequestCaretRectResultEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/model/CaretRect.kt
  docs/API_REFERENCE.md
  docs/INPUT.md
  ios/input/EnrichedMarkdownInput.mm
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/index.tsx
Due: lint, types, clang-format, ktlint

refactor: rename CaretRect properties for clarity
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/model/CaretRect.kt
  docs/INPUT.md
Due: ktlint

fix(android): prevent scroll flicker in auto-grow mode by blocking scrollTo
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
Due: ktlint

fix(android): prevent scroll flicker in auto-grow mode by blocking scrollTo (#235)
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
Due: ktlint

docs: add missing spoiler documentation and move spoiler syntax note from README
  README.md
  docs/API_REFERENCE.md
  docs/ELEMENTS_STRUCTURE.md
  docs/INPUT.md
Due: none

docs: add styles for spoiler element in STYLES.md
  docs/STYLES.md
Due: none

docs: add missing spoiler documentation and move spoiler syntax note … (#237)
  README.md
  docs/API_REFERENCE.md
  docs/ELEMENTS_STRUCTURE.md
  docs/INPUT.md
  docs/STYLES.md
Due: none

refactor: rename SpoilerMode to SpoilerOverlay and update related implementations
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerOverlay.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerOverlayDrawer.kt
  docs/API_REFERENCE.md
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMSpoilerOverlayManager.h
  ios/utils/ENRMSpoilerOverlayManager.m
  ios/utils/ENRMSpoilerOverlayView.h
  ios/utils/ENRMSpoilerOverlayView.m
  ios/views/EnrichedMarkdownInternalText.h
  ios/views/EnrichedMarkdownInternalText.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownStyle.ts
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format, ktlint

chore: update hermes-engine and React-Core-prebuilt checksums in Podfile.lock
  apps/example/ios/Podfile.lock
Due: none

refactor: rename spoilerMode to spoilerOverlay and update related implementations (#238)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerOverlay.kt
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerOverlayDrawer.kt
  apps/example/ios/Podfile.lock
  docs/API_REFERENCE.md
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/ENRMSpoilerOverlayManager.h
  ios/utils/ENRMSpoilerOverlayManager.m
  ios/utils/ENRMSpoilerOverlayView.h
  ios/utils/ENRMSpoilerOverlayView.m
  ios/views/EnrichedMarkdownInternalText.h
  ios/views/EnrichedMarkdownInternalText.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownStyle.ts
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format, ktlint

refactor: update spoiler style structure to use nested properties for particles and solid attributes
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerParticleDrawable.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/SpoilerStyle.kt
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/styleUtils.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types, clang-format, ktlint

refactor: move normalizeColor function to styleUtils and update its usage in markdown styles
  src/normalizeMarkdownInputStyle.ts
  src/normalizeMarkdownStyle.ts
  src/styleUtils.ts
Due: lint, types

refactor: remove mergeSpoilerDefaults function and simplify mergeSubStyle logic
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/styleUtils.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
