Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
    clang-format:
      glob: '*.{h,m,mm,cpp}'
      exclude: '(Pods|build|node_modules)'
      run: npx clang-format -i {staged_files} && git add {staged_files}
    ktlint:
      glob: '*.kt'
      exclude: '(build|generated|node_modules)'
      run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor(ios): simplify accessibility text element creation (#188)
  docs/ACCESSIBILITY.md
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

fix(ios): also guard code blocks in checked task list decorations
  ios/renderer/ListItemRenderer.m
Due: clang-format

fix: import CodegenTypes from react-native instead of deep subpath
  src/EnrichedMarkdownInputNativeComponent.ts
Due: lint, types

feat: add custom context menu items for EnrichedMarkdownText and EnrichedMarkdownInput
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/events/ContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/FormattingStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/InputContextMenu.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/SelectionActionMode.kt
  apps/example/src/App.tsx
  apps/example/src/InputScreen.tsx
  apps/macos-example/src/App.tsx
  apps/macos-example/src/InputScreen.tsx
  docs/API_REFERENCE.md
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/ENRMFormattingStore.h
  ios/input/ENRMFormattingStore.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  ios/utils/ContextMenuUtils.h
  ios/utils/ContextMenuUtils.mm
  ios/utils/EditMenuUtils+macOS.m
  ios/utils/EditMenuUtils.h
  ios/utils/EditMenuUtils.m
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
Due: lint, types, clang-format, ktlint

chore: add TODOs for API_AVAILABLE check
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/utils/ContextMenuUtils.h
  ios/utils/ContextMenuUtils.mm
  ios/utils/EditMenuUtils.h
  ios/utils/EditMenuUtils.m
Due: clang-format

feat: add custom context menu items for EnrichedMarkdownText and EnrichedMarkdownInput (#190)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/events/ContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnContextMenuItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/FormattingStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/InputContextMenu.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/SelectionActionMode.kt
  apps/example/src/App.tsx
  apps/example/src/InputScreen.tsx
  apps/macos-example/src/App.tsx
  apps/macos-example/src/InputScreen.tsx
  docs/API_REFERENCE.md
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/ENRMFormattingStore.h
  ios/input/ENRMFormattingStore.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  ios/utils/ContextMenuUtils.h
  ios/utils/ContextMenuUtils.mm
  ios/utils/EditMenuUtils+macOS.m
  ios/utils/EditMenuUtils.h
  ios/utils/EditMenuUtils.m
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
Due: lint, types, clang-format, ktlint

feat(ios): add SF Symbol icon support for context menu items
  apps/example/src/App.tsx
  apps/example/src/InputScreen.tsx
  apps/macos-example/src/App.tsx
  apps/macos-example/src/InputScreen.tsx
  docs/API_REFERENCE.md
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  ios/utils/ContextMenuUtils.h
  ios/utils/ContextMenuUtils.mm
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format

refactor: move optional props to the bottom
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownText.tsx
Due: lint

fix: prevent paragraph break loss and formatting range drift (#193)
  ios/input/ENRMFormattingStore.mm
  ios/input/ENRMInputParser.mm
  ios/input/ENRMMarkdownSerializer.mm
Due: clang-format

docs: clarify handling of inline styles and block-level elements
  ios/input/ENRMMarkdownSerializer.mm
Due: clang-format

fix(android): disable smart text selection to prevent ImageSpan crash
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextViewSetup.kt
Due: ktlint

feat: add web support
  README.md
  apps/web-example/app.json
  apps/web-example/babel.config.js
  apps/web-example/index.js
  apps/web-example/metro.config.js
  apps/web-example/package.json
  apps/web-example/src/App.tsx
  apps/web-example/src/sampleMarkdown.ts
  apps/web-example/tsconfig.json
  cpp/wasm/ASTSerializer.cpp
  cpp/wasm/ASTSerializer.hpp
  cpp/wasm/build.sh
  cpp/wasm/md4c_wasm.cpp
  docs/LATEX_MATH.md
  docs/WEB.md
  eslint.config.mjs
  package.json
  src/EnrichedMarkdownText.tsx
  src/index.tsx
  src/index.web.tsx
  src/native/EnrichedMarkdownText.tsx
  src/normalizeMarkdownStyle.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
  src/types/MarkdownTextProps.ts
  src/types/events.ts
  src/web/EnrichedMarkdownText.tsx
  src/web/cssMap.ts
  src/web/katex.ts
  src/web/parseMarkdown.ts
  src/web/renderers/BlockRenderers.tsx
  src/web/renderers/InlineRenderers.tsx
  src/web/renderers/ListRenderers.tsx
  src/web/renderers/TableRenderers.tsx
  src/web/renderers/index.tsx
  src/web/types.ts
  src/web/utils.ts
  src/web/wasm/md4c.d.ts
  src/web/wasm/md4c.js
  yarn.lock
Due: lint, types, clang-format

fix(ios): update _lastSelectedRange in replaceSelectedTextWith
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

feat(ios): add in-document anchor scrolling
  ios/EnrichedMarkdownText.mm
Due: clang-format

fix(ios): update _lastSelectedRange in replaceSelectedTextWith (#200)
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

chore: update lint command to suppress warnings for ignored files
  package.json
Due: none

chore: add dist and web-build directories to .gitignore
  .gitignore
Due: none

feat: add auto-link detection
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/autolink/AutoDetectedLinkSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/autolink/AutoLinkDetector.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/autolink/LinkRegexConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/detection/DetectorPipeline.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/detection/TextDetector.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/detection/WordResult.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/detection/WordsUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/events/OnLinkDetectedEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  docs/INPUT.md
  ios/input/ENRMAutoLinkDetector.h
  ios/input/ENRMAutoLinkDetector.mm
  ios/input/ENRMDetectorPipeline.h
  ios/input/ENRMDetectorPipeline.mm
  ios/input/ENRMInputFormatter.mm
  ios/input/ENRMLinkRegexConfig.h
  ios/input/ENRMLinkRegexConfig.mm
  ios/input/ENRMTextDetector.h
  ios/input/ENRMWordsUtils.h
  ios/input/ENRMWordsUtils.mm
  ios/input/EnrichedMarkdownInput.mm
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/index.tsx
  src/utils/regexParser.ts
Due: lint, types, clang-format, ktlint

fix(ios): handle NSData from pasteboard when pasting copied markdown
  ios/input/ENRMInputTextView.mm
Due: clang-format

fix(ios): handle NSData from pasteboard when pasting copied markdown (#207)
  ios/input/ENRMInputTextView.mm
Due: clang-format

fix(android): add no-op contentInset stub to unblock build
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
Due: ktlint

feat(android): add anchor scrolling and contentInset support
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
Due: ktlint

feat(web): enhance EnrichedMarkdownText with improved accessibility and RTL support
  README.md
  apps/web-example/src/App.tsx
  docs/WEB.md
  src/index.web.tsx
  src/types/MarkdownTextProps.ts
  src/web/EnrichedMarkdownText.tsx
  src/web/katex.ts
  src/web/parseMarkdown.ts
  src/web/renderers/BlockRenderers.tsx
  src/web/renderers/InlineRenderers.tsx
  src/web/renderers/KaTeXRenderer.tsx
  src/web/renderers/ListRenderers.tsx
  src/web/renderers/TableRenderers.tsx
  src/web/renderers/index.tsx
  src/web/styles.ts
  src/web/types.ts
  src/web/utils.ts
Due: lint, types

refactor: remove WebMarkdownTextProps and integrate dir prop into EnrichedMarkdownTextProps
  src/index.web.tsx
  src/types/MarkdownTextProps.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types

feat: replace format bar with native context menu submenu
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/FormatBar.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/InputContextMenu.kt
  android/src/main/res/drawable/enrm_ic_format_bold.xml
  android/src/main/res/drawable/enrm_ic_format_italic.xml
  android/src/main/res/drawable/enrm_ic_format_strikethrough.xml
  android/src/main/res/drawable/enrm_ic_format_underline.xml
  android/src/main/res/drawable/enrm_ic_link.xml
  apps/example/src/InputScreen.tsx
  ios/input/ENRMFormatBar.h
  ios/input/ENRMFormatBar.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
Due: lint, clang-format, ktlint

docs: update README to reflect changes in context menu structure
  README.md
Due: none

chore(ios): update Podfile.lock
  apps/example/ios/Podfile.lock
Due: none

refactor: remove unused red view from App component
  apps/example/src/App.tsx
Due: lint

docs: update README to include note on always-enabled spoiler syntax
  README.md
Due: none

fix/android-link-url-attribute
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputParser.kt
Due: ktlint

fix/android-link-url-attribute (#216)
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputParser.kt
Due: ktlint

fix: disable permissive autolinks in input parser
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/Parser.kt
  cpp/parser/MD4CParser.cpp
  cpp/parser/MD4CParser.hpp
  ios/input/ENRMInputParser.mm
Due: clang-format, ktlint

fix(ios): guard onText against out-of-buffer pointers from md4c soft/hard break callbacks
  ios/input/ENRMInputParser.mm
Due: clang-format

fix(ios): update onText to handle out-of-buffer tokens and clarify newline handling
  ios/input/ENRMInputParser.mm
Due: clang-format

fix(ios): guard onText against out-of-buffer pointers from md4c (#218)
  ios/input/ENRMInputParser.mm
Due: clang-format

fix(ios): use bufferLength instead of originalLength for contentEnd
  ios/input/ENRMInputParser.mm
Due: clang-format

fix(ios,android): skip delimiter matching inside link URL parentheses in InputRemend
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputRemend.kt
  ios/input/ENRMInputRemend.mm
Due: clang-format, ktlint

fix(ios,android): skip delimiter matching inside link URL parentheses in InputRemend (#220)
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputRemend.kt
  ios/input/ENRMInputRemend.mm
Due: clang-format, ktlint
