Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

rename
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
  ios/EnrichedMarkdown.mm
  src/web/EnrichedMarkdownText.tsx
Due: lint, clang-format, ktlint

android: fix
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
Due: ktlint

clean up jsdoc
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
Due: lint, types

add example color
  apps/web-example/src/App.tsx
Due: lint

feedback: only use selectionHandleColor in android
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types, clang-format

android: wrap each handle in try catch
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
Due: ktlint

ios: handle resetting color
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

refactor: rename internal C++/ObjC symbols from MarkdownInput to MarkdownTextInput
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/ComponentDescriptors.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownInputState.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputMeasurementManager.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputMeasurementManager.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputShadowNode.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputShadowNode.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputState.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputState.h
  ios/input/ENRMInputTextView.h
  ios/input/ENRMInputTextView.mm
  ios/input/EnrichedMarkdownTextInput.mm
  ios/utils/ENRMUIKit.h
Due: clang-format

refactor: rename internal C++/ObjC symbols from MarkdownInput to MarkdownTextInput (#258)
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/ComponentDescriptors.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownInputState.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputMeasurementManager.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputMeasurementManager.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputShadowNode.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputShadowNode.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputState.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextInputState.h
  ios/input/ENRMInputTextView.h
  ios/input/ENRMInputTextView.mm
  ios/input/EnrichedMarkdownTextInput.mm
  ios/utils/ENRMUIKit.h
Due: clang-format

docs: add dark mode theming guide to STYLES.md and TEXT.md
  docs/STYLES.md
  docs/TEXT.md
Due: none

docs: remove redundant tip about design-system tokens from STYLES.md
  docs/STYLES.md
Due: none

docs: add dark mode theming guide to STYLES.md and TEXT.md (#259)
  docs/STYLES.md
  docs/TEXT.md
Due: none

feedback: minor changes
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownTextInput.mm
  src/web/EnrichedMarkdownText.tsx
Due: lint, clang-format

feedback: refactor applySelectionHandleTint
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
Due: ktlint

feat(android): blockquote fill via LineBackgroundSpan and container span flags
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/SpanFlags.kt
Due: ktlint

add example test code
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  apps/example/src/sampleMarkdown.ts
Due: lint, types, ktlint

feedback: minor comment updates
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/SpanFlags.kt
Due: ktlint

feedback: use left instead of default
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/SpanFlags.kt
Due: ktlint

fix copy??
  src/web/EnrichedMarkdownText.tsx
Due: lint

chore: add missing classes to Android baseline profile
  android/src/main/baseline-prof.txt
Due: none

chore: add missing classes to Android baseline profile (#261)
  android/src/main/baseline-prof.txt
Due: none

Update image link in README.md
  README.md
Due: none

Update image link in README.md (#263)
  README.md
Due: none

chore: bump version to 0.5.0
  apps/example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  package.json
Due: none

chore: bump version to 0.5.0 (#262)
  apps/example/ios/Podfile.lock
  apps/macos-example/macos/Podfile.lock
  package.json
Due: none

fix(android): span with background should show up inside blockquotes (#253)
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/SpanFlags.kt
  apps/example/src/sampleMarkdown.ts
Due: lint, types, ktlint

feat: custom selection color (#250)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
  apps/example/src/App.tsx
  apps/web-example/src/App.tsx
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownTextInput.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types, clang-format, ktlint

refactor(ios): centralize selectionColor application into ENRMApplySelectionColor
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownTextInput.mm
  ios/utils/SelectionColorUtils.h
Due: clang-format

refactor(ios): centralize selectionColor application into ENRMApplySelectionColor (#264)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownTextInput.mm
  ios/utils/SelectionColorUtils.h
Due: clang-format

feat(macos): support selectionColor via NSTextView.selectedTextAttributes
  apps/macos-example/src/App.tsx
  ios/utils/ENRMUIKit.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format

feat(macos): support selectionColor via NSTextView.selectedTextAttributes (#265)
  apps/macos-example/src/App.tsx
  ios/utils/ENRMUIKit.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/types/MarkdownTextProps.ts
Due: lint, types, clang-format

fix(web): narrow selectionColor type to string
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types

fix(web): narrow selectionColor type to string (#266)
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types

refactor(web): centralize <style> injection via injectStyleOnce + global tokens
  src/web/EnrichedMarkdownText.tsx
  src/web/globalStyles.ts
  src/web/injectStyle.ts
Due: lint, types

refactor(web): centralize <style> injection via injectStyleOnce + global tokens (#267)
  src/web/EnrichedMarkdownText.tsx
  src/web/globalStyles.ts
  src/web/injectStyle.ts
Due: lint, types

refactor(android): guard selection color setters against no-op writes
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
Due: ktlint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
