Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

feat: inital streaming implementation
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextPackage.kt
  android/src/main/java/com/swmansion/enriched/markdown/session/EnrichedMarkdownSessionModule.kt
  android/src/main/java/com/swmansion/enriched/markdown/session/EnrichedMarkdownSessionPackage.kt
  android/src/main/java/com/swmansion/enriched/markdown/session/MarkdownSession.kt
  example/src/StreamingExample.tsx
  ios/session/EnrichedMarkdownSessionModule.h
  ios/session/EnrichedMarkdownSessionModule.m
  ios/session/MarkdownSession.h
  ios/session/MarkdownSession.m
  src/EnrichedMarkdownTextStream.tsx
  src/MarkdownSession.ts
  src/index.tsx
  src/useMarkdownSession.ts
Due: lint, types, clang-format, ktlint

fix: handle empty markdown input in scheduleRender to clear view immediately
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
Due: ktlint

feat: add marginTop support for block elements in Markdown rendering
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginTopSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/BaseBlockStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/BlockquoteStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/CodeBlockStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/HeadingStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ImageStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ListStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ParagraphStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/HeadingRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

feat: enhance Markdown parsing with customizable flags support
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/Parser.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  cpp/parser/MD4CParser.cpp
  cpp/parser/MD4CParser.hpp
  ios/EnrichedMarkdownText.mm
  ios/parser/MarkdownParser.h
  ios/parser/MarkdownParser.mm
  ios/parser/MarkdownParserBridge.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
Due: lint, types, clang-format, ktlint

refactor: streamline margin handling in Blockquote and List renderers
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginTopSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
Due: ktlint

refactor: enhance code readability and consistency in Markdown renderers
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
Due: ktlint

refactor: improve margin handling in applyBlockMarginTop function for better clarity
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
Due: ktlint

refactor: rename spacing functions for clarity and consistency across renderers
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/HeadingRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
Due: clang-format

refactor: unify block spacing handling across renderers to improve consistency and readability
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/HeadingRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
Due: clang-format

refactor: enhance readability and consistency in Markdown renderers
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/HeadingRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
Due: clang-format

docs: update README to include marginTop property for block elements
  README.md
Due: none

docs: update README to clarify underline support and add md4cFlags configuration details
  README.md
Due: none

docs: update README to clarify Markdown syntax for bold and italic
  README.md
Due: none

refactor: remove redundant comments and clean up default flags initialization in Markdown parser
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/parser/Parser.kt
  ios/EnrichedMarkdownText.mm
  ios/parser/MarkdownParser.mm
Due: clang-format, ktlint

feat: add underline support in Markdown rendering (#64)
  README.md
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/Parser.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/UnderlineRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/UnderlineStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/MarkdownExtractor.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  cpp/parser/MD4CParser.cpp
  cpp/parser/MD4CParser.hpp
  cpp/parser/MarkdownASTNode.hpp
  ios/EnrichedMarkdownText.mm
  ios/parser/MarkdownASTNode.h
  ios/parser/MarkdownParser.h
  ios/parser/MarkdownParser.mm
  ios/parser/MarkdownParserBridge.mm
  ios/renderer/RendererFactory.m
  ios/renderer/UnderlineRenderer.h
  ios/renderer/UnderlineRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

chore: update ReactNativeEnrichedMarkdown to version 0.1.1 and update checksum
  example/ios/Podfile.lock
Due: none

feat: add marginTop support for block elements in Markdown rendering (#65)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginTopSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/BaseBlockStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/BlockquoteStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/CodeBlockStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/HeadingStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ImageStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ListStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ParagraphStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  example/ios/Podfile.lock
  ios/EnrichedMarkdownText.mm
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/HeadingRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

feat: add font scaling support to EnrichedMarkdownText component
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/LineHeightSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/FontUtils.h
  ios/utils/FontUtils.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

refactor: streamline markdown handling and improve utility functions
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
Due: ktlint

feat: enhance font scaling support in markdown rendering
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleParser.kt
Due: ktlint

feat: implement font scaling settings management in MeasurementStore
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

fix: correct props hash computation in MeasurementStore to include allowFontScaling parameter
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

feat: add function to resolve font scaling settings in MeasurementStore
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

refactor: clean up comments and streamline font scaling initialization
  ios/EnrichedMarkdownText.mm
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.mm
  ios/utils/FontUtils.m
Due: clang-format

feat: enhance accessibility support for Markdown rendering
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ImageRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/ImageSpan.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/HeadingRenderer.m
  ios/renderer/ImageRenderer.m
  ios/renderer/ListItemRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/utils/AccessibilityInfo.h
  ios/utils/AccessibilityInfo.m
  ios/utils/MarkdownAccessibilityElementBuilder.h
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format, ktlint

refactor: streamline accessibility element building in Markdown rendering
  ios/renderer/RenderContext.h
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

refactor: enhance accessibility item processing and streamline span handling
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format, ktlint

feat: add screen reader support (#67)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ImageRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/ImageSpan.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/HeadingRenderer.m
  ios/renderer/ImageRenderer.m
  ios/renderer/ListItemRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/utils/AccessibilityInfo.h
  ios/utils/AccessibilityInfo.m
  ios/utils/MarkdownAccessibilityElementBuilder.h
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format, ktlint

refactor: remove unused export for EnrichedMarkdownTextNativeComponent in index.tsx
  src/index.tsx
Due: lint

refactor: rename isSelectable prop to selectable for consistency with RN Text
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

docs: add info about accessibility support in README
  README.md
Due: none

refactor: update README to rename isSelectable prop to selectable for consistency
  README.md
Due: none

docs: add info about accessibility support in README (#70)
  README.md
Due: none

refactor: rename isSelectable prop to selectable for consistency with RN Text (#69)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

fix(ios): rename image attachment to avoid duplicate symbol
  ios/EnrichedMarkdownText.mm
  ios/attachments/EnrichedMarkdownImageAttachment.h
  ios/attachments/EnrichedMarkdownImageAttachment.m
  ios/renderer/ImageRenderer.m
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
  ios/utils/PasteboardUtils.h
  ios/utils/PasteboardUtils.m
Due: clang-format

fix(ios): rename image attachment to avoid duplicate symbol (#71)
  ios/EnrichedMarkdownText.mm
  ios/attachments/EnrichedMarkdownImageAttachment.h
  ios/attachments/EnrichedMarkdownImageAttachment.m
  ios/renderer/ImageRenderer.m
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
  ios/utils/PasteboardUtils.h
  ios/utils/PasteboardUtils.m
Due: clang-format

feat: add allowTrailingMargin prop to control last element's margin behavior
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MarginBottomSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  ios/EnrichedMarkdownText.mm
  ios/renderer/AttributedRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
Due: lint, types, clang-format, ktlint

feat: add allowTrailingMargin prop to control last element's margin behavior
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/conversions.h
  ios/EnrichedMarkdownText.mm
  ios/renderer/AttributedRenderer.h
  ios/renderer/AttributedRenderer.m
  ios/utils/CodeBlockBackground.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

refactor: improve trailing margin handling by removing newlines and optimizing span cleanup
  android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
Due: ktlint

refactor: streamline markdown measurement logic and enhance margin calculation
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
