Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

docs: clarify spoiler text overlay behavior in STYLES.md
  docs/STYLES.md
Due: none

refactor: move mergeSubStyle function to styleUtils and update its usage in markdown style files
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/styleUtils.ts
Due: lint, types

refactor: update spoiler style structure to use nested properties for particles and solid attributes (#239)
  android/src/main/java/com/swmansion/enriched/markdown/spoiler/SpoilerParticleDrawable.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/SpoilerStyle.kt
  docs/STYLES.md
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownInputStyle.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/styleUtils.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types, clang-format, ktlint

refactor: streamline markdown rendering by introducing RenderedSegment and MarkdownSegmentRenderer
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/RenderedSegment.kt
Due: ktlint

refactor: streamline markdown rendering by introducing RenderedSegment and MarkdownSegmentRenderer (#240)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/RenderedSegment.kt
Due: ktlint

fix(android): preserve block markdown in InputParser plain text
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputParser.kt
Due: ktlint

feat(ios): improve VoiceOver focus precision with per-line accessibility paths
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

feat(ios): improve VoiceOver focus precision with per-line accessibility paths (#244)
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

feat(android): improve TalkBack accessibility with virtual view hierarchy and host focus fix
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/AccessibleMarkdownTextView.kt
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextViewSetup.kt
  docs/ACCESSIBILITY.md
Due: ktlint

feat(android): improve TalkBack accessibility with virtual view hierarchy and host focus fix (#245)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/AccessibleMarkdownTextView.kt
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextViewSetup.kt
  docs/ACCESSIBILITY.md
Due: ktlint

fix(macos): use correct textContainerInset properties for caret rect
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

fix(macos): use correct textContainerInset properties for caret rect (#247)
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

fix mention press signature
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/events/MentionPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/LinkRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MentionSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/common/MarkdownViewManagerUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkEvents.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/LinkLongPressMovementMethod.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  apps/example/src/sampleMarkdown.ts
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/attachments/ENRMMentionAttachment.h
  ios/attachments/ENRMMentionAttachment.m
  ios/renderer/LinkRenderer.h
  ios/renderer/LinkRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/utils/LinkTapUtils.h
  ios/utils/LinkTapUtils.m
  ios/views/TableContainerView.h
  ios/views/TableContainerView.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
  src/types/events.ts
  src/web/renderers/InlineRenderers.tsx
Due: lint, types, clang-format, ktlint

ios: allow copy/paste mention and citations as normal text
  apps/example/ios/Podfile.lock
  apps/example/src/App.tsx
  apps/example/src/markdownStyles.ts
  ios/attachments/ENRMCitationAttachment.h
  ios/attachments/ENRMCitationAttachment.m
  ios/attachments/ENRMMentionAttachment.h
  ios/attachments/ENRMMentionAttachment.m
  ios/renderer/LinkRenderer.m
  ios/utils/CitationBackground.h
  ios/utils/CitationBackground.m
  ios/utils/MarkdownExtractor.m
  ios/utils/MentionBackground.h
  ios/utils/MentionBackground.m
  ios/utils/RuntimeKeys.h
  ios/utils/RuntimeKeys.m
  ios/utils/TextViewLayoutManager.mm
Due: lint, types, clang-format

android: allow copy/paste mention and citations as normal text
  android/src/main/java/com/swmansion/enriched/markdown/renderer/LinkRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MentionSpan.kt
  apps/example/src/App.tsx
  apps/example/src/markdownStyles.ts
  apps/web-example/src/App.tsx
Due: lint, types, ktlint

exclude citation from pasted content
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/SelectionActionMode.kt
  ios/utils/PasteboardUtils.m
  src/web/EnrichedMarkdownText.tsx
  src/web/renderers/InlineRenderers.tsx
Due: lint, clang-format, ktlint

web: allow select and highlight mentions
  src/web/styles.ts
Due: lint, types

feat: add list.markerWidth for aligning unordered, ordered, and task lists
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/UnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ListStyle.kt
  apps/example/src/markdownStyles.ts
  docs/STYLES.md
  ios/internals/MeasurementCache.h
  ios/renderer/ListItemRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types, clang-format, ktlint

add citation border props
  .cursor/plans/mention_citation_tooltips_18cf1b1d.plan.md
  android/src/main/java/com/swmansion/enriched/markdown/spans/CitationSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/CitationStyle.kt
  apps/example/src/markdownStyles.ts
  apps/web-example/src/App.tsx
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/CitationBackground.m
  ios/utils/MentionBackground.m
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
  src/web/styles.ts
Due: lint, types, clang-format, ktlint

ios: citation should have margin around it
  apps/example/src/markdownStyles.ts
  apps/example/src/sampleMarkdown.ts
  apps/web-example/src/App.tsx
  ios/renderer/LinkRenderer.m
  ios/utils/CitationBackground.m
Due: lint, types, clang-format

mention should have margin around too
  android/src/main/java/com/swmansion/enriched/markdown/renderer/LinkRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MentionSpacerSpan.kt
  ios/renderer/LinkRenderer.m
  ios/utils/MentionBackground.m
Due: clang-format, ktlint

android: show mention background color inside blockquote
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/SpanFlags.kt
  apps/example/src/markdownStyles.ts
  apps/example/src/sampleMarkdown.ts
Due: lint, types, ktlint

android: mention background size to the mention text itself
  android/src/main/java/com/swmansion/enriched/markdown/spans/MentionSpan.kt
  apps/example/src/sampleMarkdown.ts
Due: lint, types, ktlint

android: include citation links when copy as markdown
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
Due: ktlint

ios: citation padding should not cover adjacent content
  apps/example/src/markdownStyles.ts
  apps/example/src/sampleMarkdown.ts
  apps/macos-example/src/sampleMarkdown.ts
  ios/renderer/LinkRenderer.m
Due: lint, types, clang-format

make table take full width of parent
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  ios/views/TableContainerView.m
  src/web/styles.ts
Due: lint, types, clang-format, ktlint

custom selection color
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
  apps/example/src/App.tsx
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types, clang-format, ktlint

remove plan
  .cursor/plans/inline_mentions_and_citations_58e9f474.plan.md
  .cursor/plans/mention_citation_tooltips_18cf1b1d.plan.md
Due: none

refactor: address PR review — rename markerWidth → markerMinWidth, use 0 default
  android/src/main/java/com/swmansion/enriched/markdown/styles/ListStyle.kt
  apps/example/src/markdownStyles.ts
  docs/STYLES.md
  ios/internals/MeasurementCache.h
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types, clang-format, ktlint

feat: add list.markerMinWidth to align UL/OL/task lists (#248)
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/UnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ListStyle.kt
  apps/example/src/markdownStyles.ts
  docs/STYLES.md
  ios/internals/MeasurementCache.h
  ios/renderer/ListItemRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
  src/normalizeMarkdownStyle.web.ts
  src/types/MarkdownStyle.ts
  src/types/MarkdownStyleInternal.ts
Due: lint, types, clang-format, ktlint

fix: add missing blank line in README
  README.md
Due: none

fix: add missing blank line in README (#252)
  README.md
Due: none

ios: handle resetting color
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/input/EnrichedMarkdownTextInput.mm
Due: clang-format

add example color
  apps/web-example/src/App.tsx
Due: lint

android: wrap each handle in try catch
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
Due: ktlint

feat: custom selection color
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TextSelectionColors.kt
  apps/example/src/App.tsx
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/native/EnrichedMarkdownText.tsx
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types, clang-format, ktlint

feedback: only use selectionHandleColor in android
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownTextNativeComponent.ts
  src/types/MarkdownTextProps.ts
  src/types/MarkdownTextProps.web.ts
  src/web/EnrichedMarkdownText.tsx
Due: lint, types, clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
