Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

feat: implement task list support in EnrichedMarkdown
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownInternalText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/events/TaskListItemPressEvent.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockStyleContext.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListItemRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BaseListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/TaskListStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/CheckboxTouchHelper.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/TaskListTapUtils.kt
  cpp/parser/MD4CParser.cpp
  example/src/markdownStyles.ts
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/renderer/ListItemRenderer.h
  ios/renderer/ListItemRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/ListMarkerDrawer.m
  ios/utils/StylePropsUtils.h
  ios/utils/TaskListTapUtils.h
  ios/utils/TaskListTapUtils.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

fix(ios): change parser prefix to ENRM (#88)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/parser/EMMarkdownParser.mm
  ios/parser/ENRMMarkdownParser.h
  ios/parser/ENRMMarkdownParser.mm
  ios/parser/MarkdownParserBridge.mm
Due: clang-format

feat: enhance task list functionality in EnrichedMarkdown
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/MarkdownExtractor.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/SelectionActionMode.kt
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
Due: clang-format, ktlint

refactor: clean up comments and improve code clarity in markdown renderer and spans
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockStyleContext.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListItemRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BaseListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/UnorderedListSpan.kt
Due: ktlint

refactor: streamline task list item handling
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
Due: ktlint

refactor: simplify task list span and renderer attributes
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  cpp/parser/MD4CParser.cpp
  ios/renderer/ListItemRenderer.h
  ios/renderer/RenderContext.h
  ios/utils/TaskListTapUtils.h
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

docs: update README to include task list features and styling options
  README.md
Due: none

feat: enhance code styling support across platforms
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/CodeSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/StrongSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/CodeStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  ios/renderer/CodeRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/HTMLGenerator.m
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

docs: update README to enhance code styling section with optional fontSize attribute
  README.md
Due: none

fix: improve line break rendering
  android/src/main/java/com/swmansion/enriched/markdown/spans/BaseListSpan.kt
  cpp/parser/MD4CParser.cpp
  ios/renderer/RendererFactory.m
Due: clang-format, ktlint

feat: add customizable link font family support
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/LinkSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/LinkStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  example/src/markdownStyles.ts
  ios/renderer/LinkRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/HTMLGenerator.m
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

docs: update README to include optional font family for links
  README.md
Due: none

fix: RTL support for ordered/unordered lists and blockquote
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/UnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  ios/utils/BlockquoteBorder.m
  ios/utils/HTMLGenerator.m
  ios/utils/ListMarkerDrawer.m
Due: clang-format, ktlint

doc: rtl supported
  README.md
Due: none

fix: rtl for TaskListSpan on android
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
Due: ktlint

feat: add RTL support for ordered/unordered lists and blockquote (#77)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/TaskListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/UnorderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  ios/utils/BlockquoteBorder.m
  ios/utils/HTMLGenerator.m
  ios/utils/ListMarkerDrawer.m
Due: clang-format, ktlint

feat: enhance RTL support across platforms
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/SelectionActionMode.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/TaskListTapUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/ListItemRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.mm
  ios/utils/BlockquoteBorder.m
  ios/utils/HTMLGenerator.m
  ios/utils/ListMarkerDrawer.m
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
  ios/utils/TaskListTapUtils.m
  ios/views/TableContainerView.m
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

feat: add nightly builds workflow with OIDC support
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-release.yml
  scripts/release/get-version.js
  scripts/release/npm-utils.js
  scripts/release/parse-arguments.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/validate-latest-version.js
  scripts/release/validate-non-latest-version.js
  scripts/release/version-utils.js
Due: lint, types

feat: enhance RTL support across platforms (#97)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/SelectionActionMode.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/TaskListTapUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/ListItemRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.mm
  ios/utils/BlockquoteBorder.m
  ios/utils/HTMLGenerator.m
  ios/utils/ListMarkerDrawer.m
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
  ios/utils/TaskListTapUtils.m
  ios/views/TableContainerView.m
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

feat: add nightly builds workflow with OIDC support (#98)
  .github/actions/publish-npm-package/action.yml
  .github/workflows/publish-release.yml
  scripts/release/get-version.js
  scripts/release/npm-utils.js
  scripts/release/parse-arguments.js
  scripts/release/set-package-version.js
  scripts/release/should-be-latest.js
  scripts/release/validate-latest-version.js
  scripts/release/validate-non-latest-version.js
  scripts/release/version-utils.js
Due: lint, types

fix: remove unsupported YARN_ENABLE_HARDENED_MODE setting
  .github/actions/publish-npm-package/action.yml
Due: none

fix: remove unsupported YARN_ENABLE_HARDENED_MODE setting (#99)
  .github/actions/publish-npm-package/action.yml
Due: none

feat: optimize task list item handling and enhance markdown rendering
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/TaskListTapUtils.kt
  example/src/sampleMarkdown.ts
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/TaskListTapUtils.h
  ios/utils/TaskListTapUtils.m
Due: lint, types, clang-format, ktlint

refactor: remove outdated comments and optimize task list item handling
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/TaskListTapUtils.kt
Due: ktlint

feat: optimize task list item handling (#100)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/TaskListTapUtils.kt
  example/src/sampleMarkdown.ts
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/TaskListTapUtils.h
  ios/utils/TaskListTapUtils.m
Due: lint, types, clang-format, ktlint

feat: enhance documentation with accessibility, copy options, and element structure details
  README.md
  docs/ACCESSIBILITY.md
  docs/API_REFERENCE.md
  docs/COPY_OPTIONS.md
  docs/ELEMENTS_STRUCTURE.md
  docs/RTL.md
  docs/STYLES.md
Due: none

refactor: remove outdated comments from utility functions
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/ParagraphUtils.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/SpannableExtensions.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/TextPaintExtensions.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/BlockSpacing.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/span/SpanFlags.kt
Due: ktlint

feat: add customizable font family and weight for strong, emphasis, and code styles
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/CodeSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/EmphasisSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/StrongSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/CodeStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/EmphasisStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StrongStyle.kt
  docs/STYLES.md
  ios/renderer/CodeRenderer.m
  ios/renderer/EmphasisRenderer.m
  ios/renderer/StrongRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

docs: update STYLES.md to clarify font handling differences between iOS and Android
  docs/STYLES.md
Due: none

refactor: remove outdated comment regarding font attribute application in EmphasisRenderer
  ios/renderer/EmphasisRenderer.m
Due: clang-format

feat: add font family and weight for strong, emphasis, inline code (#104)
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/CodeSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/EmphasisSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/StrongSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/CodeStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/EmphasisStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StrongStyle.kt
  docs/STYLES.md
  ios/renderer/CodeRenderer.m
  ios/renderer/EmphasisRenderer.m
  ios/renderer/StrongRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

fix(ios): improve text measurement to align with React Native's <Text> component
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

fix(ios): adjust paragraph spacing calculation to account for spacer line height
  ios/utils/ParagraphStyleUtils.m
Due: clang-format

fix(ios): refine paragraph spacing logic to correctly handle initial spacer line height
  ios/utils/ParagraphStyleUtils.m
Due: clang-format

refactor(ios): update paragraph spacing logic to handle marginTop correctly
  ios/renderer/HeadingRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
Due: clang-format

Update image in README.md
  README.md
Due: none

refactor(ios): update paragraph spacing logic to handle marginTop correctly (#106)
  ios/renderer/HeadingRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
Due: clang-format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
