Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

fix(ios): dismiss text selection when tapping non-interactive area
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
Due: clang-format

fix(ios): dismiss text selection when tapping non-interactive area (#162)
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
Due: clang-format

refactor: streamline image rendering
  example/src/App.tsx
  ios/attachments/ENRMImageAttachment.m
  ios/utils/ENRMUIKit.h
  macos-example/react-native.config.js
Due: lint, types, clang-format

refactor: separate macOS rendering logic into a dedicated file and streamline shared implementation
  ios/attachments/ENRMMathInlineAttachment+macOS.m
  ios/attachments/ENRMMathInlineAttachment.m
  ios/attachments/ENRMMathInlineAttachmentShared.h
Due: clang-format

feat: implement context menu support for macOS in EnrichedMarkdown and related components
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/EditMenuUtils+macOS.m
  ios/utils/EditMenuUtils.h
  ios/utils/EditMenuUtils.m
  ios/views/ENRMContextMenuTextView+macOS.h
  ios/views/ENRMContextMenuTextView+macOS.m
  ios/views/EnrichedMarkdownInternalText.h
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor: improve comments and clarify rendering behavior in ENRMUIKit
  ios/utils/ENRMUIKit.h
Due: clang-format

refactor: simplify and clarify comments in PasteboardUtils.h
  ios/utils/PasteboardUtils.h
Due: clang-format

refactor: introduce ENRMMenuAction for block-based NSMenuItem handling
  ios/utils/ENRMMenuAction.h
  ios/utils/ENRMMenuAction.m
  ios/utils/EditMenuUtils+macOS.m
  ios/views/ENRMMathContainerView.m
  ios/views/ENRMTableGridView.h
  ios/views/ENRMTableGridView.m
  ios/views/TableContainerView.m
Due: clang-format

refactor: replace raw UTI strings with NSPasteboardType constants in copyTableToPasteboard method
  ios/views/TableContainerView.m
Due: clang-format

refactor: enhance text container handling for macOS with improved layout measurement adjustments
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor: enhance macOS text view interaction and context menu handling for improved user experience
  ios/EnrichedMarkdown.mm
  ios/views/ENRMContextMenuTextView+macOS.h
  ios/views/ENRMContextMenuTextView+macOS.m
  ios/views/ENRMMathContainerView.m
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor: optimize layout measurement logic and enhance text view properties for improved rendering
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.mm
  ios/views/ENRMContextMenuTextView+macOS.m
Due: clang-format

refactor: improve cross-platform compatibility by adjusting macOS-specific implementations
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/CodeBackground.m
  ios/utils/ENRMImageDownloader.m
  ios/utils/ENRMUIKit.h
  ios/utils/EditMenuUtils.h
  ios/utils/MarkdownAccessibilityElementBuilder.h
  ios/utils/MarkdownAccessibilityElementBuilder.m
  ios/utils/MarkdownExtractor.m
  ios/utils/PasteboardUtils.m
  ios/views/ENRMMathContainerView.m
  ios/views/EnrichedMarkdownInternalText.m
  ios/views/TableContainerView.m
Due: clang-format

refactor: reorder import statements in ENRMImageAttachment.m for improved clarity
  ios/attachments/ENRMImageAttachment.m
Due: clang-format

refactor: update Podfile.lock and improve text selection handling across platforms
  example/ios/Podfile.lock
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/utils/BlockquoteBorder.m
  ios/utils/ENRMUIKit.h
  ios/utils/EditMenuUtils.m
  ios/views/ENRMContextMenuTextView+macOS.m
  macos-example/macos/.gitignore
  macos-example/src/App.tsx
  macos-example/src/markdownStyles.ts
Due: lint, types, clang-format

chore: update Podfile.lock to reflect changes in ReactNativeEnrichedMarkdown checksum
  example/ios/Podfile.lock
Due: none

fix(ios): add NSScrollView wrapper for macOS scroll support
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
Due: clang-format

chore: update .gitignore and Podfile.lock for macOS support
  .gitignore
  macos-example/macos/Podfile.lock
Due: none

docs: fix incomplete sentence in MACOS.md
  docs/MACOS.md
Due: none

docs: fix incomplete sentence in MACOS.md (#167)
  docs/MACOS.md
Due: none

fix(ci): drop --immutable from publish workflow yarn install
  .github/workflows/publish-release.yml
Due: none

fix(ci): drop --immutable from publish workflow yarn install (#168)
  .github/workflows/publish-release.yml
Due: none

fix(ci): disable immutable installs in publish workflow
  .github/workflows/publish-release.yml
Due: none

fix(ci): disable immutable installs in publish workflow (#169)
  .github/workflows/publish-release.yml
Due: none

docs: add Markdown streaming support documentation and update README
  README.md
  docs/MARKDOWN_STREAMING.md
Due: none

docs: update README for Markdown Streaming support formatting
  README.md
Due: none

docs: add Markdown streaming support documentation and update README (#170)
  README.md
  docs/MARKDOWN_STREAMING.md
Due: none

docs: update link to react-native-worklets documentation in MARKDOWN_STREAMING.md
  docs/MARKDOWN_STREAMING.md
Due: none

fix(ios): don't include kUTIRTFD in the copy (#164)
  ios/utils/PasteboardUtils.m
Due: clang-format

feat(macos): add native admonition styling with SF Symbol icons
  ios/renderer/BlockquoteRenderer.m
  ios/utils/BlockquoteBorder.h
  ios/utils/BlockquoteBorder.m
Due: clang-format

feat: move admonition preprocessing into library component
  docs/MACOS.md
  src/EnrichedMarkdownText.tsx
Due: lint

feat: customisable admonition labels, digit-based native detection, HTML comment stripping
  README.md
  ios/renderer/BlockquoteRenderer.m
  package.json
  src/EnrichedMarkdownText.tsx
Due: lint, clang-format

fix(macos): align NSLinkAttributeName with linkURL to reduce cursor flickering
  ios/renderer/LinkRenderer.m
  ios/renderer/RenderContext.m
Due: clang-format

fix(ios): use text container width for block image aspect ratio
  ios/attachments/ENRMImageAttachment.m
Due: clang-format

fix(ios): rename mismatched setImageNaturalSize: setter to setImageResponsive:
  ios/styles/StyleConfig.mm
Due: clang-format

feat(macos): add contentInset prop for scroll view padding
  docs/MACOS.md
  ios/EnrichedMarkdown.mm
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
Due: lint, types, clang-format

refactor: simplify InputFormatter and related classes for improved style handling
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputConnectionWrapper.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputFormatter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/MarkdownTextWatcher.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/model/InputFormatterStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/StyleMergingConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/input/MarkdownStyleParser.kt
  ios/input/ENRMInputFormatter.h
  ios/input/ENRMInputFormatter.mm
  ios/input/InputStylePropsUtils.h
Due: clang-format, ktlint

refactor: streamline style handling and improve code clarity in markdown input components
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/FormattingStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputContextMenu.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/model/FormattingRange.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/BoldStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/ItalicStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/LinkStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/StrikethroughStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/StyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/UnderlineStyleHandler.kt
Due: ktlint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
