Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
    clang-format:
      glob: '*.{h,m,mm,cpp}'
      exclude: '(Pods|build|node_modules)'
      run: npx clang-format -i {staged_files} && git add {staged_files}
    ktlint:
      glob: '*.kt'
      exclude: '(build|generated|node_modules)'
      run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: enhance code clarity and efficiency in markdown input components
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/FormattingStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputLayoutManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputMeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputRemend.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/MarkdownSerializer.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/MarkdownTextWatcher.kt
Due: ktlint

refactor: remove unused syntax color handling from markdown input components
  android/src/main/java/com/swmansion/enriched/markdown/input/model/InputFormatterStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/input/MarkdownStyleParser.kt
  ios/input/ENRMFormattingStore.mm
  ios/input/ENRMInputFormatter.h
  ios/input/ENRMInputFormatter.mm
  ios/input/ENRMInputParser.h
  ios/input/ENRMInputTextView.h
  ios/input/InputStylePropsUtils.h
  ios/input/styles/ENRMBoldStyleHandler.mm
  ios/input/styles/ENRMItalicStyleHandler.mm
  ios/input/styles/ENRMLinkStyleHandler.mm
  ios/input/styles/ENRMStrikethroughStyleHandler.mm
  ios/input/styles/ENRMStyleHandler.h
  ios/input/styles/ENRMStyleMergingConfig.mm
  ios/input/styles/ENRMUnderlineStyleHandler.mm
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
  src/normalizeMarkdownInputStyle.ts
Due: lint, types, clang-format, ktlint

refactor: update property access levels in ENRMInputParser for better encapsulation
  ios/input/ENRMInputParser.h
  ios/input/ENRMInputParser.mm
  ios/input/EnrichedMarkdownInput+Internal.h
Due: clang-format

refactor: consolidate typing attribute management in EnrichedMarkdownInput for improved clarity
  ios/input/ENRMInputFormatter.h
  ios/input/ENRMInputFormatter.mm
  ios/input/ENRMInputLinkPrompt.mm
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

refactor: simplify previous state management in EnrichedMarkdownInput for improved readability
  ios/input/ENRMInputParser.mm
  ios/input/ENRMMarkdownSerializer.mm
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

refactor: replace direct variable access with property access for blockEmitting
  ios/input/EnrichedMarkdownInput.h
  ios/input/EnrichedMarkdownInput.mm
  ios/input/internals/EnrichedMarkdownInputShadowNode.mm
Due: clang-format

feat: add FormatBar for enhanced text formatting in EnrichedMarkdownInput
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/FormatBar.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/InputContextMenu.kt
  example/ios/Podfile.lock
  example/src/InputScreen.tsx
  ios/input/ENRMFormatBar.h
  ios/input/ENRMFormatBar.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  macos-example/src/InputScreen.tsx
Due: lint, clang-format, ktlint

feat: implement link insertion functionality in EnrichedMarkdownInput and related components
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  example/src/LinkModal.tsx
  ios/input/EnrichedMarkdownInput.mm
  src/EnrichedMarkdownInput.tsx
  src/EnrichedMarkdownInputNativeComponent.ts
Due: lint, types, clang-format, ktlint

feat: add link modal for enhanced link insertion in InputScreen
  example/ios/Podfile.lock
  example/src/InputScreen.tsx
Due: lint

fix: ensure selection is maintained after formatting in InputContextMenu
  android/src/main/java/com/swmansion/enriched/markdown/input/InputContextMenu.kt
Due: ktlint

feat: update FormatBar to use ImageView for buttons and enhance popup styling
  android/src/main/java/com/swmansion/enriched/markdown/input/FormatBar.kt
  android/src/main/res/drawable/enrm_ic_format_bold.xml
  android/src/main/res/drawable/enrm_ic_format_italic.xml
  android/src/main/res/drawable/enrm_ic_format_strikethrough.xml
  android/src/main/res/drawable/enrm_ic_format_underline.xml
  android/src/main/res/drawable/enrm_ic_link.xml
Due: ktlint

feat: introduce editing and formatting capabilities
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/editing/InputConnectionWrapper.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/editing/MarkdownEditableFactory.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/editing/MarkdownTextWatcher.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/FormattingStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputFormatter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/InputRemend.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/MarkdownSerializer.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputEventEmitter.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputLayoutManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/layout/InputMeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/BoldStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/ItalicStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/LinkStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/StrikethroughStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/styles/UnderlineStyleHandler.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/FormatBar.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/InputContextMenu.kt
Due: ktlint

refactor: enhance code readability and maintainability in various components
  android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownInputView.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/editing/MarkdownEditableFactory.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/FormattingStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/FormatBar.kt
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/InputContextMenu.kt
Due: ktlint

refactor: streamline event emission and context menu actions for improved clarity and functionality
  ios/input/ENRMFormatBar.mm
  ios/input/ENRMInputTextView.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput.mm
  ios/input/styles/ENRMBoldStyleHandler.mm
  ios/input/styles/ENRMItalicStyleHandler.mm
  ios/input/styles/ENRMLinkStyleHandler.mm
  ios/input/styles/ENRMStrikethroughStyleHandler.mm
  ios/input/styles/ENRMStyleMergingConfig.h
  ios/input/styles/ENRMStyleMergingConfig.mm
  ios/input/styles/ENRMUnderlineStyleHandler.mm
Due: clang-format

fix: maintain selection state during text changes in EnrichedMarkdownInput
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format

fix: trim leading and trailing whitespace in markdown serialization
  android/src/main/java/com/swmansion/enriched/markdown/input/formatting/MarkdownSerializer.kt
  ios/input/ENRMMarkdownSerializer.mm
Due: clang-format, ktlint

refactor: improve link prompt functionality by enabling/disabling confirm action based on input
  ios/input/ENRMInputLinkPrompt.mm
Due: clang-format

refactor: simplify byte mapping and delimiter handling in ENRMInputParser for improved clarity
  ios/input/ENRMInputParser.mm
Due: clang-format

feat: add underline support in markdown rendering for enhanced text formatting
  example/src/InputScreen.tsx
  src/EnrichedMarkdownInput.tsx
Due: lint

fix(ios): preserve code block styles inside list items
  ios/renderer/ListItemRenderer.m
Due: clang-format

feat: enhance documentation and introduce EnrichedMarkdownInput component for rich text input
  README.md
  docs/API_REFERENCE.md
  docs/INPUT.md
  docs/MACOS.md
  docs/TEXT.md
Due: none

feat: implement macOS support for EnrichedMarkdownInput with RCTBackedTextInputDelegate
  ios/input/ENRMInputTextView.mm
  ios/input/EnrichedMarkdownInput+ContextMenu.mm
  ios/input/EnrichedMarkdownInput+Internal.h
  ios/input/EnrichedMarkdownInput.mm
  ios/utils/ENRMUIKit.h
Due: clang-format

chore: update ReactNativeEnrichedMarkdown dependency version in Podfile.lock
  macos-example/macos/Podfile.lock
Due: none

refactor: replace updateActiveStates with dismiss in FormatBar for improved state management
  android/src/main/java/com/swmansion/enriched/markdown/input/toolbar/FormatBar.kt
  ios/input/EnrichedMarkdownInput.mm
Due: clang-format, ktlint

fix: github flavor always expanding to full width
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  ios/EnrichedMarkdown.mm
  ios/views/EnrichedMarkdownInternalText.h
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format, ktlint

fix(ios): preserve contentView frame on input window attach
  ios/input/EnrichedMarkdownInput.mm
  ios/utils/ENRMUIKit.h
Due: clang-format

fix: promote display math blocks from mixed paragraphs
  cpp/parser/MD4CParser.cpp
Due: clang-format

fix: improve semantic screen reader navigation
  ReactNativeEnrichedMarkdown.podspec
  android/build.gradle
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  android/src/main/res/values-es/strings.xml
  android/src/main/res/values/strings.xml
  android/src/test/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelperTest.kt
  docs/ACCESSIBILITY.md
  example/ios/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  example/ios/EnrichedMarkdownExample.xcodeproj/xcshareddata/xcschemes/EnrichedMarkdownExample.xcscheme
  example/ios/EnrichedMarkdownExampleTests/Info.plist
  example/ios/EnrichedMarkdownExampleTests/MarkdownAccessibilityElementBuilderTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/en.lproj/Localizable.strings
  ios/es.lproj/Localizable.strings
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/ListItemRenderer.h
  ios/renderer/ListItemRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/utils/AccessibilityInfo.h
  ios/utils/AccessibilityInfo.m
  ios/utils/ENRMLocalization.h
  ios/utils/ENRMLocalization.m
  ios/utils/ListItemAttributes.h
  ios/utils/ListItemAttributes.m
  ios/utils/ListMarkerDrawer.m
  ios/utils/MarkdownAccessibilityElementBuilder.m
  ios/views/TableContainerView.m
Due: clang-format, ktlint

fix(ios): clamp stale accessibility ranges to prevent VoiceOver measure crash
  example/ios/EnrichedMarkdownExampleTests/MarkdownAccessibilityElementBuilderTests.m
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

test(ios): add VoiceOver stale range regression coverage
  ReactNativeEnrichedMarkdown.podspec
  example/ios/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  example/ios/EnrichedMarkdownExample.xcodeproj/xcshareddata/xcschemes/EnrichedMarkdownExample.xcscheme
  example/ios/EnrichedMarkdownExampleTests/Info.plist
  example/ios/EnrichedMarkdownExampleTests/MarkdownAccessibilityElementBuilderTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
  ios/utils/ENRMLocalization.h
  ios/utils/ENRMLocalization.m
  ios/utils/ListItemAttributes.h
  ios/utils/ListItemAttributes.m
Due: clang-format

fix(ios): clamp stale accessibility ranges during VoiceOver measurement
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

fix(android): improve semantic TalkBack navigation
  android/build.gradle
  android/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  android/src/main/res/values-es/strings.xml
  android/src/main/res/values/strings.xml
Due: ktlint

test(android): cover semantic accessibility navigation
  android/src/test/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelperTest.kt
Due: ktlint

build(ios): add localized accessibility support files
  ReactNativeEnrichedMarkdown.podspec
  ios/en.lproj/Localizable.strings
  ios/es.lproj/Localizable.strings
  ios/utils/ENRMLocalization.h
  ios/utils/ENRMLocalization.m
  ios/utils/ListItemAttributes.h
  ios/utils/ListItemAttributes.m
Due: clang-format

fix(ios): improve semantic VoiceOver navigation
  ios/renderer/BlockquoteRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/ListItemRenderer.h
  ios/renderer/ListItemRenderer.m
  ios/renderer/RenderContext.h
  ios/renderer/RenderContext.m
  ios/utils/AccessibilityInfo.h
  ios/utils/AccessibilityInfo.m
  ios/utils/ListMarkerDrawer.m
  ios/utils/MarkdownAccessibilityElementBuilder.m
  ios/views/TableContainerView.m
Due: clang-format

test(ios): cover semantic accessibility navigation
  example/ios/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  example/ios/EnrichedMarkdownExample.xcodeproj/xcshareddata/xcschemes/EnrichedMarkdownExample.xcscheme
  example/ios/EnrichedMarkdownExampleTests/Info.plist
  example/ios/EnrichedMarkdownExampleTests/MarkdownAccessibilityElementBuilderTests.m
  example/ios/Podfile
  example/ios/Podfile.lock
Due: clang-format

fix(ios): prevent VoiceOver crash on stale accessibility ranges
  ios/EnrichedMarkdownText.mm
  ios/utils/MarkdownAccessibilityElementBuilder.m
  ios/views/EnrichedMarkdownInternalText.m
Due: clang-format

refactor(ios): simplify accessibility text element creation
  ios/utils/MarkdownAccessibilityElementBuilder.m
Due: clang-format

docs: enhance accessibility documentation with text announcements and known issues sections
  docs/ACCESSIBILITY.md
Due: none
