Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

feat: pipeline
  packages/react-native-enriched-markdown/src/EnrichedMarkdownNativeComponent.ts
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextNativeComponent.ts
  packages/react-native-enriched-markdown/src/index.tsx
  packages/react-native-enriched-markdown/src/index.web.tsx
  packages/react-native-enriched-markdown/src/native/EnrichedMarkdownText.tsx
  packages/react-native-enriched-markdown/src/types/MarkdownTextProps.ts
  packages/react-native-enriched-markdown/src/types/events.ts
Due: lint, types

feat: android
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/events/LatexErrorEvent.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/math/LatexErrorReporter.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockStyleContext.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/renderer/Renderer.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/segments/BlockquoteContainerView.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/segments/RenderedSegment.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/segments/SegmentViewCreators.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/utils/common/MarkdownViewManagerUtils.kt
  packages/react-native-enriched-markdown/android/src/math/java/com/swmansion/enriched/markdown/renderer/MathInlineRenderer.kt
  packages/react-native-enriched-markdown/android/src/math/java/com/swmansion/enriched/markdown/segments/MathContainerView.kt
  packages/react-native-enriched-markdown/android/src/math/java/com/swmansion/enriched/markdown/spans/MathInlineSpan.kt
Due: ktlint

feat: ios
  packages/react-native-enriched-markdown/ios/EnrichedMarkdown.mm
  packages/react-native-enriched-markdown/ios/EnrichedMarkdownText.mm
  packages/react-native-enriched-markdown/ios/attachments/ENRMMathInlineAttachment.h
  packages/react-native-enriched-markdown/ios/attachments/ENRMMathInlineAttachment.m
  packages/react-native-enriched-markdown/ios/attachments/ENRMMathInlineAttachmentShared.h
  packages/react-native-enriched-markdown/ios/math/ENRMLatexErrorReporting.h
  packages/react-native-enriched-markdown/ios/math/ENRMRaTeXBridge.swift
  packages/react-native-enriched-markdown/ios/renderer/ENRMMathInlineRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/RenderContext.h
  packages/react-native-enriched-markdown/ios/renderer/RenderContext.m
  packages/react-native-enriched-markdown/ios/segments/ENRMMathContainerView.h
  packages/react-native-enriched-markdown/ios/segments/ENRMMathContainerView.m
Due: clang-format

docs: documentation
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/props/LatexError.stories.tsx
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/props/RefMethods.stories.tsx
  apps/react-native-example/ios/Podfile.lock
  docs/API_REFERENCE.md
  docs/LATEX_MATH.md
Due: lint

test: test
  packages/react-native-enriched-markdown/__tests__/latex-error.test.tsx
Due: lint

chore: claim context7
  context7.json
Due: none

feat(parser): promote video-only list items out of lists
  docs/ELEMENTS_STRUCTURE.md
  packages/core/cpp/parser/MD4CParser.cpp
Due: clang-format

refactor: remove unnecessary comments
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/events/LatexErrorEvent.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/math/LatexErrorReporter.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockStyleContext.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/segments/SegmentViewCreators.kt
  packages/react-native-enriched-markdown/android/src/math/java/com/swmansion/enriched/markdown/renderer/MathInlineRenderer.kt
  packages/react-native-enriched-markdown/android/src/math/java/com/swmansion/enriched/markdown/segments/MathContainerView.kt
  packages/react-native-enriched-markdown/android/src/math/java/com/swmansion/enriched/markdown/spans/MathInlineSpan.kt
  packages/react-native-enriched-markdown/ios/EnrichedMarkdown.mm
  packages/react-native-enriched-markdown/ios/EnrichedMarkdownText.mm
  packages/react-native-enriched-markdown/ios/attachments/ENRMMathInlineAttachment.h
  packages/react-native-enriched-markdown/ios/attachments/ENRMMathInlineAttachment.m
  packages/react-native-enriched-markdown/ios/attachments/ENRMMathInlineAttachmentShared.h
  packages/react-native-enriched-markdown/ios/math/ENRMLatexErrorReporting.h
  packages/react-native-enriched-markdown/ios/math/ENRMRaTeXBridge.swift
  packages/react-native-enriched-markdown/ios/renderer/ENRMMathInlineRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/RenderContext.h
  packages/react-native-enriched-markdown/ios/segments/ENRMMathContainerView.h
Due: clang-format, ktlint

fix: ci build issues
  packages/react-native-enriched-markdown/ios/input/EnrichedMarkdownTextInput.mm
Due: clang-format

refactor(android): address table review feedback
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/LinkPressDialog.kt
  packages/android-enriched-markdown/compose/src/main/java/com/swmansion/enriched/markdown/compose/style/StyleConfigMerger.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/renderer/TableRenderer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TableSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/common/serialization/MarkdownASTSerializer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TableScrollController.kt
Due: ktlint

refactor(android): drop comments that restate their own signature
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/renderer/TableRenderer.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/spans/TableSpan.kt
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/view/TableScrollController.kt
Due: ktlint

fix(android): address Copilot table review comments
  packages/android-enriched-markdown/README.md
  packages/android-enriched-markdown/ui/src/main/java/com/swmansion/enriched/markdown/utils/common/serialization/MarkdownASTSerializer.kt
  packages/android-enriched-markdown/ui/src/test/java/com/swmansion/enriched/markdown/test/MarkdownRenderTestSupport.kt
Due: ktlint

refactor: share the input instance and style state types between platforms
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextInput.tsx
  packages/react-native-enriched-markdown/src/types/MarkdownTextInputInstance.ts
Due: lint, types

refactor: move input style types and default colors into platform-neutral modules
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextInput.tsx
  packages/react-native-enriched-markdown/src/inputStyleDefaults.ts
  packages/react-native-enriched-markdown/src/normalizeMarkdownTextInputStyle.ts
  packages/react-native-enriched-markdown/src/types/MarkdownTextInputStyle.ts
  packages/react-native-enriched-markdown/src/web/input/render/inputStyles.ts
Due: lint, types

feat(web): emit markdown from the input host after every model change
  packages/react-native-enriched-markdown/src/web/input/editing/InputHost.ts
Due: lint, types

refactor(web): split a selection move into a typing reset and one emit helper
  packages/react-native-enriched-markdown/src/web/input/editing/InputHost.ts
Due: lint, types

fix(web): rewrite a dom selection left stretched over an empty line
  packages/react-native-enriched-markdown/src/web/input/editing/InputHost.ts
Due: lint, types

feat(web): add focus, selection, editable and caret rect commands to the input host
  packages/react-native-enriched-markdown/src/web/input/editing/InputHost.ts
Due: lint, types

feat(web): show the placeholder while the input is empty
  packages/react-native-enriched-markdown/src/web/input/editing/InputHost.ts
  packages/react-native-enriched-markdown/src/web/input/render/inputStyles.ts
Due: lint, types

feat(web): wrap the input host in EnrichedMarkdownTextInput
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextInput.web.tsx
  packages/react-native-enriched-markdown/src/index.web.tsx
  packages/react-native-enriched-markdown/src/web/input/editing/ImportQueue.ts
  packages/react-native-enriched-markdown/src/web/input/measureElement.ts
Due: lint, types

feat(web-example): add an input editor with a formatting toolbar
  apps/react-native-web-example/src/App.tsx
  apps/react-native-web-example/src/InputEditor.tsx
Due: lint

feat(ios): render LaTeX in the example playground
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Views/Playground/PlaygroundScreen.swift
Due: none

refactor(ios): simplify the LaTeX plugin seam and copy integration
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Views/Playground/PlaygroundScreen.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Extraction/MarkdownExtractor.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Extraction/MarkdownSourceSlicer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Parser/MarkdownASTNode+Traversal.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Parser/SourceOffsetAnnotator.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Rendering/MarkdownRenderPlugin.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Rendering/ParagraphStyleHelpers.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Rendering/Renderers/ImageRenderer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Rendering/Renderers/ParagraphRenderer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Views/MarkdownRenderStore.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/LaTeXRenderPlugin.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathAttachment.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathRenderer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathSourceFallback.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownLaTeXTests/LaTeXRenderingTests.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownTests/RenderPluginTests.swift
Due: none

ci: restore RaTeX vendor files before building the iOS package
  .github/workflows/ci.yml
Due: none

feat(ios): add LaTeX math as an optional EnrichedMarkdownLaTeX product
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Extensions/Color+Named.swift
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Models/ExampleRoute.swift
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Views/AppShell.swift
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Views/Home/HomeScreen.swift
  apps/ios-example/EnrichedMarkdownExample/EnrichedMarkdownExample/Views/Math/MathScreen.swift
  packages/enriched-markdown-ios/.swiftlint.yml
  packages/enriched-markdown-ios/Package.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/Fonts
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/LaTeXRenderPlugin.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathAttachment.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathRenderer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathSourceFallback.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/Vendor/DisplayList.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/Vendor/LICENSE
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/Vendor/RaTeXEngine.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/Vendor/RaTeXFontLoader.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/Vendor/RaTeXRenderer.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownLaTeXTests/LaTeXRenderingTests.swift
  packages/enriched-markdown-ios/package.json
Due: none

feat(ios): copy selections containing LaTeX verbatim from source
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Extraction/MarkdownSliceValidator.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Extraction/MarkdownSourceSlicer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Parser/SourceOffsetAnnotator.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Rendering/MarkdownRenderPlugin.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Rendering/MarkdownRenderer.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Views/MarkdownRenderStore.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathAttachment.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathRenderer.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownLaTeXTests/LaTeXRenderingTests.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownTests/MarkdownSourceSlicerTests.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownTests/RenderPluginTests.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownTests/SourceOffsetAnnotatorTests.swift
Due: none

ci: restore RaTeX vendor files before hashing the iOS package
  .github/workflows/ci.yml
Due: none

fix: dont crash on liststylemarker being null
  packages/react-native-enriched-markdown/__tests__/markdown-style-colors.test.ts
  packages/react-native-enriched-markdown/src/styleUtils.ts
Due: lint, types

chore: update context7 configuration
  context7.json
Due: none

feat(android): add admonition support to enriched-markdown-android
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/ExampleMarkdownStyles.kt
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/PlaygroundScreen.kt
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/TextScreen.kt
  apps/android-example/app/src/main/res/raw/sample_markdown.md
  packages/enriched-markdown-android/README.md
  packages/enriched-markdown-android/compose/src/main/java/com/swmansion/enriched/markdown/compose/MarkdownStylePatches.kt
  packages/enriched-markdown-android/compose/src/test/java/com/swmansion/enriched/markdown/compose/MarkdownAdmonitionStyleTest.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/accessibility/MarkdownAccessibilityHelper.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/spans/AdmonitionHeaderSpan.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/spans/AdmonitionIcons.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/styles/BlockquoteStyle.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/styles/DefaultStyles.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/HTMLGenerator.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/AdmonitionPaintingTest.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/AdmonitionRendererTest.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/styles/StyleConfigTest.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/test/TestAstFactory.kt
Due: ktlint

feat(input): convert typed markdown block prefixes into blocks
  .maestro/enrichedMarkdownInput/flows/basic/block_elements/markdown_shortcut_heading_test.yaml
  .maestro/enrichedMarkdownInput/flows/basic/block_elements/markdown_shortcut_list_test.yaml
  apps/react-native-example/src/screens/playground/PlaygroundScreen.tsx
  docs/API_REFERENCE.md
  docs/INPUT.md
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownTextInputManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/input/EnrichedMarkdownTextInputView.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/input/editing/EditPipeline.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/input/editing/MarkdownShortcutMatcher.kt
  packages/react-native-enriched-markdown/ios/input/ENRMMarkdownShortcutMatcher.h
  packages/react-native-enriched-markdown/ios/input/ENRMMarkdownShortcutMatcher.mm
  packages/react-native-enriched-markdown/ios/input/EnrichedMarkdownTextInput.mm
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextInput.tsx
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextInputNativeComponent.ts
  packages/react-native-enriched-markdown/src/jest/index.tsx
Due: lint, types, clang-format, ktlint

fix: use same font leading setting for measurement and drawing
  packages/react-native-enriched-markdown/ios/utils/ENRMUIKit.h
Due: clang-format

docs: regression storybook story
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/regression/DescenderClipping.stories.tsx
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/shared/storyMeta.ts
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/shared/storybookMarkdownStyles.ts
  apps/react-native-example/android/app/src/main/assets/fonts/Poppins-Italic.ttf
  apps/react-native-example/android/app/src/main/assets/fonts/Poppins-Medium.ttf
  apps/react-native-example/android/app/src/main/assets/fonts/Poppins-Regular.ttf
  apps/react-native-example/android/app/src/main/assets/fonts/Poppins-SemiBold.ttf
  apps/react-native-example/android/link-assets-manifest.json
  apps/react-native-example/assets/fonts/Poppins-Italic.ttf
  apps/react-native-example/assets/fonts/Poppins-Medium.ttf
  apps/react-native-example/assets/fonts/Poppins-Regular.ttf
  apps/react-native-example/assets/fonts/Poppins-SemiBold.ttf
  apps/react-native-example/ios/EnrichedMarkdownExample.xcodeproj/project.pbxproj
  apps/react-native-example/ios/EnrichedMarkdownExample/Info.plist
  apps/react-native-example/ios/link-assets-manifest.json
Due: lint, types

docs: removed unnecessary comments
  packages/react-native-enriched-markdown/ios/utils/ENRMUIKit.h
Due: clang-format

fix(android): address review on interactive task list checkboxes
  packages/enriched-markdown-android/README.md
  packages/enriched-markdown-android/compose/src/main/java/com/swmansion/enriched/markdown/compose/EnrichedMarkdownText.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/interaction/TaskListTapUtils.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/TaskListInteractionTest.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/test/MarkdownTextViewTestSupport.kt
Due: ktlint

feat: include applybaseline offset for every block element
  packages/react-native-enriched-markdown/ios/renderer/BlockquoteRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/ENRMBlockquoteTextRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/HeadingRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/ListItemRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/ParagraphRenderer.m
  packages/react-native-enriched-markdown/ios/utils/ENRMCodeBlockContent.mm
  packages/react-native-enriched-markdown/ios/utils/ParagraphStyleUtils.m
Due: clang-format

refactor: cleanup
  packages/react-native-enriched-markdown/ios/renderer/ParagraphRenderer.m
  packages/react-native-enriched-markdown/ios/renderer/RenderContext.h
  packages/react-native-enriched-markdown/ios/utils/ParagraphStyleUtils.m
Due: clang-format

chore(android): address admonition review feedback
  apps/android-example/app/src/main/java/swmansion/enriched/markdown/android/example/ExampleMarkdownStyles.kt
  packages/enriched-markdown-android/compose/src/main/java/com/swmansion/enriched/markdown/compose/MarkdownStylePatches.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/spans/AdmonitionHeaderSpan.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/spans/AdmonitionIcons.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/styles/DefaultStyles.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/HTMLGenerator.kt
  packages/enriched-markdown-android/ui/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/AdmonitionPaintingTest.kt
  packages/enriched-markdown-android/ui/src/test/java/com/swmansion/enriched/markdown/AdmonitionRendererTest.kt
Due: ktlint

feat: add numberOfLines and ellipsizeMode for CommonMark
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/utils/common/EllipsizeUtils.kt
  packages/react-native-enriched-markdown/ios/EnrichedMarkdownText.mm
  packages/react-native-enriched-markdown/ios/internals/ENRMViewFreeMeasurement.h
  packages/react-native-enriched-markdown/ios/utils/ParagraphStyleUtils.h
  packages/react-native-enriched-markdown/ios/utils/ParagraphStyleUtils.m
  packages/react-native-enriched-markdown/src/EnrichedMarkdownNativeComponent.ts
  packages/react-native-enriched-markdown/src/EnrichedMarkdownTextNativeComponent.ts
  packages/react-native-enriched-markdown/src/native/EnrichedMarkdownText.tsx
  packages/react-native-enriched-markdown/src/types/MarkdownTextProps.ts
Due: lint, types, clang-format, ktlint

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
