Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

chore(android): update baseline profile
  android/src/main/baseline-prof.txt
Due: none

docs: update README with nightly build installation instructions
  README.md
Due: none

chore(android): update baseline profile (#112)
  android/src/main/baseline-prof.txt
Due: none

docs: update README with nightly build installation instructions (#113)
  README.md
Due: none

chore: release 0.3.0
  example/ios/Podfile.lock
  package.json
Due: none

feat(example): add markdown sample tabs in demo app
  example/src/App.tsx
  example/src/sampleMarkdown2.ts
Due: lint, types

fix(android): preserve nested renderer block style context (#115)
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockStyleContext.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListContextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
Due: ktlint

refactor(android): remove unused StyleConfig parameter from ListContextManager
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListContextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
Due: ktlint

refactor(android): remove unused StyleConfig parameter from ListContextManager (#117)
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListContextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
Due: ktlint

fix(ios): solve block image aspect ratio issue
  ios/attachments/EnrichedMarkdownImageAttachment.m
Due: clang-format

refactor(ios): use ENRM prefix naming for images
  ios/EnrichedMarkdownText.mm
  ios/attachments/ENRMImageAttachment.h
  ios/attachments/ENRMImageAttachment.m
  ios/renderer/ENRMImageRenderer.h
  ios/renderer/ENRMImageRenderer.m
  ios/renderer/RendererFactory.m
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
  ios/utils/PasteboardUtils.h
  ios/utils/PasteboardUtils.m
Due: clang-format

fix(ios): solve block image aspect ratio issue (#118)
  ios/EnrichedMarkdownText.mm
  ios/attachments/ENRMImageAttachment.h
  ios/attachments/ENRMImageAttachment.m
  ios/attachments/EnrichedMarkdownImageAttachment.m
  ios/renderer/ENRMImageRenderer.h
  ios/renderer/ENRMImageRenderer.m
  ios/renderer/RendererFactory.m
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
  ios/utils/PasteboardUtils.h
  ios/utils/PasteboardUtils.m
Due: clang-format

feat: add support for LaTeX math rendering in markdown
  ReactNativeEnrichedMarkdown.podspec
  android/build.gradle
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdown.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/MathInlineRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MathInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/InlineMathStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/MathStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/MathContainerView.kt
  cpp/parser/MD4CParser.cpp
  cpp/parser/MarkdownASTNode.hpp
  example/ios/Podfile.lock
  example/src/sampleMarkdownLatex.ts
  ios/EnrichedMarkdown.mm
  ios/attachments/ENRMMathInlineAttachment.h
  ios/attachments/ENRMMathInlineAttachment.m
  ios/parser/MarkdownASTNode.h
  ios/parser/MarkdownParserBridge.mm
  ios/renderer/ENRMMathInlineRenderer.h
  ios/renderer/ENRMMathInlineRenderer.m
  ios/renderer/RendererFactory.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/StylePropsUtils.h
  ios/views/ENRMMathContainerView.h
  ios/views/ENRMMathContainerView.m
  src/EnrichedMarkdownNativeComponent.ts
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

feat: enhance markdown extraction to support LaTeX math rendering in both Android and iOS
  android/src/main/java/com/swmansion/enriched/markdown/spans/MathInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/MarkdownExtractor.kt
  ios/utils/MarkdownExtractor.m
Due: clang-format, ktlint

feat: add context menu for copying LaTeX and Markdown in MathContainerView for Android and iOS
  android/src/main/java/com/swmansion/enriched/markdown/views/MathContainerView.kt
  ios/views/ENRMMathContainerView.h
  ios/views/ENRMMathContainerView.m
Due: clang-format, ktlint

feat: add support for LaTeX math rendering in HTML generation for Android and iOS
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/conversion/HTMLGenerator.kt
  ios/utils/HTMLGenerator.m
Due: clang-format, ktlint

docs: update README and documentation to include LaTeX math rendering details and styling options
  README.md
  docs/ELEMENTS_STRUCTURE.md
  docs/STYLES.md
Due: none

feat: add MathInlineRenderer, MathInlineSpan, InlineMathStyle, and MathStyle to support LaTeX
  android/src/main/baseline-prof.txt
Due: none

chore: remove sampleMarkdownLatex file
  example/src/sampleMarkdownLatex.ts
Due: lint, types

docs: clarify color property description in LaTeX math styling documentation
  docs/STYLES.md
Due: none

refactor(ios): simplify latex extraction check in ENRMMathInlineRenderer
  ios/renderer/ENRMMathInlineRenderer.m
Due: clang-format

fix(ios): update accessibility label to use cached LaTeX in ENRMMathContainerView
  ios/views/ENRMMathContainerView.m
Due: clang-format

refactor(ios): remove unused context menu pragma
  ios/views/ENRMMathContainerView.m
Due: clang-format

fix(ios): update line height configuration in ListItemRenderer to use the same approach as paragraph
  ios/renderer/ListItemRenderer.m
Due: clang-format

fix(android): prevent crash when rendering LaTeX in tables on background thread
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MathInlinePlaceholderSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MathInlineSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MathMeasureHelper.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/SpannableExtensions.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/MathContainerView.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
Due: ktlint

fix(android): apply table fontSize to cell content instead of paragraph fontSize
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
Due: ktlint

docs: enhance README with LaTeX math rendering details and usage notes
  README.md
Due: none

fix(android): honor emphasisFontStyle normal without custom font family
  android/src/main/java/com/swmansion/enriched/markdown/spans/EmphasisSpan.kt
Due: ktlint

fix(android): exclude link color from preserve list when it matches paragraph color
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
Due: ktlint

perf(ios): add measurement cache and reduce per-cell layout overhead
  ios/EnrichedMarkdown.mm
  ios/EnrichedMarkdownText.mm
  ios/internals/EnrichedMarkdownShadowNode.h
  ios/internals/EnrichedMarkdownShadowNode.mm
  ios/internals/EnrichedMarkdownTextShadowNode.h
  ios/internals/EnrichedMarkdownTextShadowNode.mm
  ios/internals/MeasurementCache.h
  ios/utils/HeightUpdateUtils.h
  ios/views/EnrichedMarkdownInternalText.m
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format

fix(android): render table correctly when lineHeight is not specified
  android/src/main/java/com/swmansion/enriched/markdown/views/TableContainerView.kt
  src/normalizeMarkdownStyle.ts
Due: lint, types, ktlint

feat: add horizontal scroll to math blocks when content overflows
  android/src/main/java/com/swmansion/enriched/markdown/views/MathContainerView.kt
  ios/views/ENRMMathContainerView.m
Due: clang-format, ktlint

refactor(android): rename variable for clarity in MathContainerView
  android/src/main/java/com/swmansion/enriched/markdown/views/MathContainerView.kt
Due: ktlint

feat: introduce MathRenderMode for improved math rendering handling
  android/consumer-rules.pro
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/MathModels.kt
  android/src/math/java/com/swmansion/enriched/markdown/spans/MathMeasureHelper.kt
  android/src/math/java/com/swmansion/enriched/markdown/views/MathContainerView.kt
Due: ktlint

fix(android): improve error handling and null checks in Math span replacement logic
  android/src/main/java/com/swmansion/enriched/markdown/utils/text/extensions/SpannableExtensions.kt
Due: ktlint

refactor(android): rename variable for clarity in estimateMathFallback function
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

refactor(ios): simplify iosMath detection logic in feature flags
  ios/utils/ENRMFeatureFlags.h
Due: clang-format

chore(podspec): update LaTeX math rendering instructions for clarity
  ReactNativeEnrichedMarkdown.podspec
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
