Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc

clang-format:
  run: npx clang-format -i {staged_files} && git add {staged_files}

ktlint:
  run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}

fix(android): fill container width when Yoga assigns an exact width
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

fix(android): honor widthMode in the empty-markdown measure path
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

fix(android): guard truncatedHeight against a zero-line layout
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

feat(ios): bring VoiceOver support to parity with the React Native renderer
  packages/enriched-markdown-ios/README.md
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Accessibility/MarkdownAccessibilityElement.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Accessibility/MarkdownAccessibilityElementBuilder.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Accessibility/MarkdownAccessibilityLabels.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Accessibility/MarkdownAccessibilityRotors.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Views/EnrichedMarkdownText.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Views/Environment+AccessibilityLabels.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdown/Views/MarkdownTextViewRepresentable.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/LaTeXRenderPlugin.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathAttachment.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathRenderer.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownLaTeXTests/LaTeXRenderingTests.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownTests/AccessibilityElementBuilderTests.swift
Due: none

refactor: self review cleanup
  packages/react-native-enriched-markdown/android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  packages/react-native-enriched-markdown/ios/EnrichedMarkdownText.mm
  packages/react-native-enriched-markdown/ios/internals/ENRMViewFreeMeasurement.h
Due: clang-format, ktlint

docs: document numberOfLines and ellipsizeMode
  apps/react-native-example/.rnstorybook/stories/components/EnrichedMarkdownText/props/NumberOfLines.stories.tsx
  docs/API_REFERENCE.md
Due: lint

fix(ios): update remaining ENRMMeasureAttributedTextViewFree caller
  packages/react-native-enriched-markdown/ios/segments/ENRMSegmentHeightMeasurer.mm
Due: clang-format

feat(ios): speak LaTeX formulas in English for VoiceOver
  packages/enriched-markdown-ios/README.md
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/LaTeXRenderPlugin.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/LaTeXSpeech.swift
  packages/enriched-markdown-ios/Sources/EnrichedMarkdownLaTeX/MathRenderer.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownLaTeXTests/LaTeXRenderingTests.swift
  packages/enriched-markdown-ios/Tests/EnrichedMarkdownLaTeXTests/LaTeXSpeechTests.swift
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
  clang-format: any of: *.{h,m,mm,cpp}, but not: (Pods|build|node_modules)
  ktlint: any of: *.kt, but not: (build|generated|node_modules)
