Repository software-mansion-labs/react-native-enriched-markdown: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, clang-format, ktlint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files}
    types:
      glob: '*.{js,ts, jsx, tsx}'
      run: npx tsc
    clang-format:
      glob: '*.{h,m,mm,cpp}'
      exclude: '(Pods|build|node_modules)'
      run: npx clang-format -i {staged_files} && git add {staged_files}
    ktlint:
      glob: '*.kt'
      exclude: '(build|generated|node_modules)'
      run: cd example/android && ./gradlew :react-native-enriched-markdown:ktlintFormat --quiet && cd ../.. && git add {staged_files}
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: remove .gitmodules file for MD4C submodule
  .gitmodules
Due: none

refactor: streamline CodeRenderer by simplifying content handling and rendering logic
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeRenderer.kt
Due: ktlint

refactor: enhance performance of BaseListSpan and BlockquoteSpan by caching span queries
  android/src/main/java/com/swmansion/enriched/markdown/spans/BaseListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/BlockquoteSpan.kt
Due: ktlint

refactor: optimize measurement handling by reusing TextPaint instance
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

refactor: update style accessors in markdown renderers
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/CodeBlockRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListContextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListItemRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ListRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/CodeBackgroundSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/HeadingSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/ImageSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
Due: ktlint

refactor: remove nestedMarginBottom from BlockquoteStyle and related implementations
  android/src/main/java/com/swmansion/enriched/markdown/renderer/BlockquoteRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/BlockquoteStyle.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/BlockquoteRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

refactor: unify style interfaces by introducing BaseBlockStyle for shared properties
  src/EnrichedMarkdownText.tsx
Due: lint

refactor: rename listStyle to list in markdown style interfaces for consistency
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  ios/EnrichedMarkdownText.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

docs: add iOS Camera Roll usage instructions to README.md for image saving
  README.md
Due: none

docs: clarify customization options for markdown styles in README.md
  README.md
Due: none

fix: update copyright holder in LICENSE file
  LICENSE
Due: none

chore: update package description for clarity
  package.json
Due: none

refactor: introduce LastElementUtils for improved element checks in markdown rendering
  ios/EnrichedMarkdownText.mm
  ios/renderer/AttributedRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/utils/CodeBlockBackground.h
  ios/utils/CodeBlockBackground.m
  ios/utils/HTMLGenerator.m
  ios/utils/LastElementUtils.h
  ios/utils/MarkdownExtractor.m
  ios/utils/RTFExportUtils.m
Due: clang-format

refactor: clean up comments
  ios/renderer/ThematicBreakRenderer.m
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format

feat: enhance link press handling by introducing LinkPressEvent type and updating README
  README.md
  example/src/App.tsx
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/index.tsx
Due: lint, types

refactor: update text styling logic for emphasis and strong spans, and enhance font
  android/src/main/java/com/swmansion/enriched/markdown/spans/EmphasisSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/OrderedListSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/StrongSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/Utils.kt
  example/src/App.tsx
  example/src/markdownStyles.ts
  example/src/sampleMarkdown.ts
  ios/renderer/AttributedRenderer.m
  ios/renderer/CodeBlockRenderer.m
  ios/renderer/ListRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/renderer/RenderContext.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

refactor: adjust code font size calculation to use block style font size
  ios/renderer/CodeRenderer.m
Due: clang-format

fix: correct formatting of tree communication statement in sampleMarkdown
  example/src/sampleMarkdown.ts
Due: lint, types

docs: update README to include supported React Native releases for Fabric
  README.md
Due: none

chore: update README logo
  README.md
Due: none

feat: add support for strikethrough in Markdown rendering
  README.md
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/SpanStyleCache.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/StrikethroughRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/StrikethroughSpan.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StrikethroughStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  cpp/parser/MD4CParser.cpp
  cpp/parser/MarkdownASTNode.hpp
  ios/EnrichedMarkdownText.mm
  ios/parser/MarkdownASTNode.h
  ios/parser/MarkdownParserBridge.mm
  ios/renderer/RendererFactory.m
  ios/renderer/StrikethroughRenderer.h
  ios/renderer/StrikethroughRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

docs: correct wording for strikethrough text in README
  README.md
Due: none

refactor(android): simplify layout management by removing state wrapper and recalculation counter
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextLayoutManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownTextManager.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextShadowNode.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextShadowNode.h
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextState.cpp
  android/src/main/jni/react/renderer/components/EnrichedMarkdownTextSpec/MarkdownTextState.h
Due: clang-format, ktlint

fix: clarify strikethrough color usage in documentation and update renderer for iOS compatibility
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/StrikethroughRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/spans/StrikethroughSpan.kt
  src/EnrichedMarkdownText.tsx
Due: lint, ktlint

feat: implement strikethrough support in MarkdownExtractor for Android and iOS
  android/src/main/java/com/swmansion/enriched/markdown/utils/MarkdownExtractor.kt
  ios/utils/MarkdownExtractor.m
Due: clang-format, ktlint

fix(android): improve rendering visibility by starting view invisible and updating layout management
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

fix(android): handle empty markdown input in MeasurementStore to prevent layout issues
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
Due: ktlint

fix: disable scroll indicators for EnrichedMarkdownText on iOS and Android
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  ios/EnrichedMarkdownText.mm
Due: clang-format, ktlint

chore: simplify Cmake
  android/src/main/jni/CMakeLists.txt
Due: none

refactor(android): remove unnecessary visibility management in EnrichedMarkdownText
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
Due: ktlint

fix: improve measurement calculations for layout width in Android and iOS
  android/src/main/java/com/swmansion/enriched/markdown/MeasurementStore.kt
  ios/EnrichedMarkdownText.mm
Due: clang-format, ktlint

feat: add text alignment support for headings and paragraphs
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/HeadingStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ParagraphStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleParser.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/HeadingRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

fix(ios): apply paragraph marginBottom for document-level paragraphs
  ios/renderer/ParagraphRenderer.m
Due: clang-format

fix(ios): apply paragraph marginBottom for document-level paragraphs (#62)
  ios/renderer/ParagraphRenderer.m
Due: clang-format

feat: enhance strikethrough support in HTMLGenerator
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  ios/utils/HTMLGenerator.m
Due: clang-format, ktlint

docs: update README to include text alignment properties for headings and paragraphs
  README.md
Due: none

refactor: introduce TextAlignment enum for improved text alignment handling
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/HeadingStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ParagraphStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/TextAlignment.kt
Due: ktlint

fix: disable scroll indicators for EnrichedMarkdownText on iOS and Android (#57)
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  ios/EnrichedMarkdownText.mm
Due: clang-format, ktlint

feat: add text align support for headings and paragraphs (#61)
  README.md
  android/src/main/java/com/swmansion/enriched/markdown/EnrichedMarkdownText.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/HeadingRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/ParagraphRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/HeadingStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/ParagraphStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleParser.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/TextAlignment.kt
  ios/EnrichedMarkdownText.mm
  ios/renderer/HeadingRenderer.m
  ios/renderer/ParagraphRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/ParagraphStyleUtils.h
  ios/utils/ParagraphStyleUtils.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint

feat: add underline support in Markdown rendering
  README.md
  android/src/main/cpp/jni-adapter.cpp
  android/src/main/java/com/swmansion/enriched/markdown/parser/MarkdownASTNode.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/NodeRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/renderer/UnderlineRenderer.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/StyleConfig.kt
  android/src/main/java/com/swmansion/enriched/markdown/styles/UnderlineStyle.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/HTMLGenerator.kt
  android/src/main/java/com/swmansion/enriched/markdown/utils/MarkdownExtractor.kt
  cpp/parser/MD4CParser.cpp
  cpp/parser/MarkdownASTNode.hpp
  ios/EnrichedMarkdownText.mm
  ios/parser/MarkdownASTNode.h
  ios/parser/MarkdownParserBridge.mm
  ios/renderer/RendererFactory.m
  ios/renderer/UnderlineRenderer.h
  ios/renderer/UnderlineRenderer.m
  ios/styles/StyleConfig.h
  ios/styles/StyleConfig.mm
  ios/utils/HTMLGenerator.m
  ios/utils/MarkdownExtractor.m
  src/EnrichedMarkdownText.tsx
  src/EnrichedMarkdownTextNativeComponent.ts
  src/normalizeMarkdownStyle.ts
Due: lint, types, clang-format, ktlint
